{
  "openapi": "3.0.1",
  "info": {
    "title": "CDseRequestHandling",
    "description": "**API Class:N/A**\n___\n\n___\n[Terms of Service] (https://docs.ifs.com/policy/APIUsageCloud.pdf)\n",
    "version": "1"
  },
  "servers": [
    {
      "url": "https://hmvdev.ifs360.cloud/main/ifsapplications/projection/v1/CDseRequestHandling.svc",
      "description": "This OData service is located at https://hmvdev.ifs360.cloud/main/ifsapplications/projection/v1/CDseRequestHandling.svc"
    }
  ],
  "security": [
    {
      "OpenId": [],
      "basicAuth": []
    }
  ],
  "tags": [
    {
      "name": "Lookup_IsoCountry_EntitySet",
      "description": ""
    },
    {
      "name": "Lookup_IsoCurrency_EntitySet",
      "description": ""
    },
    {
      "name": "ActiveEmployees",
      "description": ""
    },
    {
      "name": "AvailableEmployees",
      "description": ""
    },
    {
      "name": "AllEmployees",
      "description": ""
    },
    {
      "name": "CDseRequestSet",
      "description": ""
    },
    {
      "name": "VrtImportFiles",
      "description": ""
    },
    {
      "name": "Service Operations - Actions",
      "description": "Actions"
    },
    {
      "name": "Service Operations - Functions",
      "description": "Functions"
    },
    {
      "name": "Reference_LovPersonCompany",
      "description": "Reference Entity Set Reference_LovPersonCompany"
    },
    {
      "name": "Reference_LovPersonCompanyPub",
      "description": "Reference Entity Set Reference_LovPersonCompanyPub"
    },
    {
      "name": "Reference_LovCompanyPerson",
      "description": "Reference Entity Set Reference_LovCompanyPerson"
    },
    {
      "name": "Reference_LovCompanyPersonAll",
      "description": "Reference Entity Set Reference_LovCompanyPersonAll"
    },
    {
      "name": "Reference_LovCompanyPersAll",
      "description": "Reference Entity Set Reference_LovCompanyPersAll"
    },
    {
      "name": "Reference_LovCompanyPersonPub",
      "description": "Reference Entity Set Reference_LovCompanyPersonPub"
    },
    {
      "name": "Reference_LovDirectCompanyPerson",
      "description": "Reference Entity Set Reference_LovDirectCompanyPerson"
    },
    {
      "name": "Reference_InvoiceUtilityPub",
      "description": "Reference Entity Set Reference_InvoiceUtilityPub"
    },
    {
      "name": "Reference_VrtImportFile",
      "description": "Reference Entity Set Reference_VrtImportFile"
    },
    {
      "name": "Reference_Supplier",
      "description": "Reference Entity Set Reference_Supplier"
    },
    {
      "name": "Reference_CorrectionReason",
      "description": "Reference Entity Set Reference_CorrectionReason"
    },
    {
      "name": "Reference_CurrencyCode",
      "description": "Reference Entity Set Reference_CurrencyCode"
    },
    {
      "name": "Reference_Project",
      "description": "Reference Entity Set Reference_Project"
    }
  ],
  "paths": {
    "/Reference_LovPersonCompany": {
      "get": {
        "tags": [
          "Reference_LovPersonCompany"
        ],
        "summary": "Get entities from Reference_LovPersonCompany",
        "parameters": [
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filter items by property values, see [OData Filtering](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_The_$filter_System)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Order items by property values, see [OData Sorting](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_The_$select_System_1)",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "CompanyId",
                  "CompanyId desc",
                  "CompanyName",
                  "CompanyName desc",
                  "Country",
                  "Country desc",
                  "CountryCode",
                  "CountryCode desc",
                  "DefaultLanguage",
                  "DefaultLanguage desc",
                  "AssociationNo",
                  "AssociationNo desc"
                ]
              }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Specify properties to return, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_System_Query_Option_3)",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "luname",
                  "keyref",
                  "CompanyId",
                  "CompanyName",
                  "Country",
                  "CountryCode",
                  "DefaultLanguage",
                  "AssociationNo"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/LovPersonCompanyarrayResponse"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "405": {
            "$ref": "#/components/responses/405"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "501": {
            "$ref": "#/components/responses/501"
          },
          "503": {
            "$ref": "#/components/responses/503"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        }
      }
    },
    "/Reference_LovPersonCompany(CompanyId='{CompanyId}')": {
      "get": {
        "tags": [
          "Reference_LovPersonCompany"
        ],
        "summary": "Get entity from Reference_LovPersonCompany by key",
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "Specify properties to return, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_System_Query_Option_3)",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "luname",
                  "keyref",
                  "CompanyId",
                  "CompanyName",
                  "Country",
                  "CountryCode",
                  "DefaultLanguage",
                  "AssociationNo"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/LovPersonCompanyResponse"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "405": {
            "$ref": "#/components/responses/405"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "501": {
            "$ref": "#/components/responses/501"
          },
          "503": {
            "$ref": "#/components/responses/503"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        }
      },
      "parameters": [
        {
          "name": "CompanyId",
          "in": "path",
          "description": "",
          "required": true,
          "schema": {
            "maxLength": 4000,
            "type": "string",
            "example": "It is a Text"
          }
        }
      ]
    },
    "/Reference_LovPersonCompanyPub": {
      "get": {
        "tags": [
          "Reference_LovPersonCompanyPub"
        ],
        "summary": "Get entities from Reference_LovPersonCompanyPub",
        "parameters": [
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filter items by property values, see [OData Filtering](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_The_$filter_System)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Order items by property values, see [OData Sorting](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_The_$select_System_1)",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "CompanyId",
                  "CompanyId desc",
                  "CompanyName",
                  "CompanyName desc"
                ]
              }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Specify properties to return, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_System_Query_Option_3)",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "luname",
                  "keyref",
                  "CompanyId",
                  "CompanyName"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/LovPersonCompanyPubarrayResponse"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "405": {
            "$ref": "#/components/responses/405"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "501": {
            "$ref": "#/components/responses/501"
          },
          "503": {
            "$ref": "#/components/responses/503"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        }
      }
    },
    "/Reference_LovPersonCompanyPub(CompanyId='{CompanyId}')": {
      "get": {
        "tags": [
          "Reference_LovPersonCompanyPub"
        ],
        "summary": "Get entity from Reference_LovPersonCompanyPub by key",
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "Specify properties to return, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_System_Query_Option_3)",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "luname",
                  "keyref",
                  "CompanyId",
                  "CompanyName"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/LovPersonCompanyPubResponse"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "405": {
            "$ref": "#/components/responses/405"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "501": {
            "$ref": "#/components/responses/501"
          },
          "503": {
            "$ref": "#/components/responses/503"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        }
      },
      "parameters": [
        {
          "name": "CompanyId",
          "in": "path",
          "description": "",
          "required": true,
          "schema": {
            "maxLength": 4000,
            "type": "string",
            "example": "It is a Text"
          }
        }
      ]
    },
    "/Reference_LovCompanyPerson": {
      "get": {
        "tags": [
          "Reference_LovCompanyPerson"
        ],
        "summary": "Get entities from Reference_LovCompanyPerson",
        "parameters": [
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filter items by property values, see [OData Filtering](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_The_$filter_System)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Order items by property values, see [OData Sorting](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_The_$select_System_1)",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "CompanyId",
                  "CompanyId desc",
                  "CompanyName",
                  "CompanyName desc",
                  "PersonId",
                  "PersonId desc",
                  "EmpNo",
                  "EmpNo desc",
                  "EmployeeName",
                  "EmployeeName desc",
                  "InternalDisplayName",
                  "InternalDisplayName desc",
                  "StructureType",
                  "StructureType desc",
                  "StructureId",
                  "StructureId desc",
                  "StructureName",
                  "StructureName desc",
                  "WorkLocation",
                  "WorkLocation desc",
                  "LocationDescription",
                  "LocationDescription desc",
                  "Employment",
                  "Employment desc",
                  "MasterEmployment",
                  "MasterEmployment desc",
                  "OrganizationCode",
                  "OrganizationCode desc",
                  "OrganizationName",
                  "OrganizationName desc",
                  "PositionId",
                  "PositionId desc",
                  "PositionTitle",
                  "PositionTitle desc",
                  "Primary",
                  "Primary desc",
                  "JobId",
                  "JobId desc",
                  "JobName",
                  "JobName desc",
                  "AssignmentType",
                  "AssignmentType desc",
                  "MatrixAssignment",
                  "MatrixAssignment desc",
                  "AccessRoleId",
                  "AccessRoleId desc",
                  "Status",
                  "Status desc",
                  "EmpCatName",
                  "EmpCatName desc",
                  "DirectSub",
                  "DirectSub desc"
                ]
              }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Specify properties to return, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_System_Query_Option_3)",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "luname",
                  "keyref",
                  "CompanyId",
                  "CompanyName",
                  "PersonId",
                  "EmpNo",
                  "EmployeeName",
                  "InternalDisplayName",
                  "StructureType",
                  "StructureId",
                  "StructureName",
                  "WorkLocation",
                  "LocationDescription",
                  "Employment",
                  "MasterEmployment",
                  "OrganizationCode",
                  "OrganizationName",
                  "PositionId",
                  "PositionTitle",
                  "Primary",
                  "JobId",
                  "JobName",
                  "AssignmentType",
                  "MatrixAssignment",
                  "AccessRoleId",
                  "Status",
                  "EmpCatName",
                  "DirectSub"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/LovCompanyPersonarrayResponse"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "405": {
            "$ref": "#/components/responses/405"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "501": {
            "$ref": "#/components/responses/501"
          },
          "503": {
            "$ref": "#/components/responses/503"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        }
      }
    },
    "/Reference_LovCompanyPerson(CompanyId='{CompanyId}',EmpNo='{EmpNo}')": {
      "get": {
        "tags": [
          "Reference_LovCompanyPerson"
        ],
        "summary": "Get entity from Reference_LovCompanyPerson by key",
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "Specify properties to return, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_System_Query_Option_3)",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "luname",
                  "keyref",
                  "CompanyId",
                  "CompanyName",
                  "PersonId",
                  "EmpNo",
                  "EmployeeName",
                  "InternalDisplayName",
                  "StructureType",
                  "StructureId",
                  "StructureName",
                  "WorkLocation",
                  "LocationDescription",
                  "Employment",
                  "MasterEmployment",
                  "OrganizationCode",
                  "OrganizationName",
                  "PositionId",
                  "PositionTitle",
                  "Primary",
                  "JobId",
                  "JobName",
                  "AssignmentType",
                  "MatrixAssignment",
                  "AccessRoleId",
                  "Status",
                  "EmpCatName",
                  "DirectSub"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/LovCompanyPersonResponse"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "405": {
            "$ref": "#/components/responses/405"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "501": {
            "$ref": "#/components/responses/501"
          },
          "503": {
            "$ref": "#/components/responses/503"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        }
      },
      "parameters": [
        {
          "name": "CompanyId",
          "in": "path",
          "description": "",
          "required": true,
          "schema": {
            "maxLength": 4000,
            "type": "string",
            "example": "It is a Text"
          }
        },
        {
          "name": "EmpNo",
          "in": "path",
          "description": "",
          "required": true,
          "schema": {
            "maxLength": 4000,
            "type": "string",
            "example": "It is a Text"
          }
        }
      ]
    },
    "/Reference_LovCompanyPersonAll": {
      "get": {
        "tags": [
          "Reference_LovCompanyPersonAll"
        ],
        "summary": "Get entities from Reference_LovCompanyPersonAll",
        "parameters": [
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filter items by property values, see [OData Filtering](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_The_$filter_System)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Order items by property values, see [OData Sorting](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_The_$select_System_1)",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "CompanyId",
                  "CompanyId desc",
                  "EmpNo",
                  "EmpNo desc",
                  "EmployeeName",
                  "EmployeeName desc",
                  "InternalDisplayName",
                  "InternalDisplayName desc"
                ]
              }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Specify properties to return, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_System_Query_Option_3)",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "luname",
                  "keyref",
                  "CompanyId",
                  "EmpNo",
                  "EmployeeName",
                  "InternalDisplayName"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/LovCompanyPersonAllarrayResponse"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "405": {
            "$ref": "#/components/responses/405"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "501": {
            "$ref": "#/components/responses/501"
          },
          "503": {
            "$ref": "#/components/responses/503"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        }
      }
    },
    "/Reference_LovCompanyPersonAll(CompanyId='{CompanyId}',EmpNo='{EmpNo}')": {
      "get": {
        "tags": [
          "Reference_LovCompanyPersonAll"
        ],
        "summary": "Get entity from Reference_LovCompanyPersonAll by key",
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "Specify properties to return, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_System_Query_Option_3)",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "luname",
                  "keyref",
                  "CompanyId",
                  "EmpNo",
                  "EmployeeName",
                  "InternalDisplayName"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/LovCompanyPersonAllResponse"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "405": {
            "$ref": "#/components/responses/405"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "501": {
            "$ref": "#/components/responses/501"
          },
          "503": {
            "$ref": "#/components/responses/503"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        }
      },
      "parameters": [
        {
          "name": "CompanyId",
          "in": "path",
          "description": "",
          "required": true,
          "schema": {
            "maxLength": 4000,
            "type": "string",
            "example": "It is a Text"
          }
        },
        {
          "name": "EmpNo",
          "in": "path",
          "description": "",
          "required": true,
          "schema": {
            "maxLength": 4000,
            "type": "string",
            "example": "It is a Text"
          }
        }
      ]
    },
    "/Reference_LovCompanyPersAll": {
      "get": {
        "tags": [
          "Reference_LovCompanyPersAll"
        ],
        "summary": "Get entities from Reference_LovCompanyPersAll",
        "parameters": [
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filter items by property values, see [OData Filtering](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_The_$filter_System)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Order items by property values, see [OData Sorting](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_The_$select_System_1)",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "CompanyId",
                  "CompanyId desc",
                  "PersonId",
                  "PersonId desc",
                  "EmpNo",
                  "EmpNo desc",
                  "InternalDisplayName",
                  "InternalDisplayName desc"
                ]
              }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Specify properties to return, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_System_Query_Option_3)",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "luname",
                  "keyref",
                  "CompanyId",
                  "PersonId",
                  "EmpNo",
                  "InternalDisplayName"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/LovCompanyPersAllarrayResponse"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "405": {
            "$ref": "#/components/responses/405"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "501": {
            "$ref": "#/components/responses/501"
          },
          "503": {
            "$ref": "#/components/responses/503"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        }
      }
    },
    "/Reference_LovCompanyPersAll(CompanyId='{CompanyId}',EmpNo='{EmpNo}')": {
      "get": {
        "tags": [
          "Reference_LovCompanyPersAll"
        ],
        "summary": "Get entity from Reference_LovCompanyPersAll by key",
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "Specify properties to return, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_System_Query_Option_3)",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "luname",
                  "keyref",
                  "CompanyId",
                  "PersonId",
                  "EmpNo",
                  "InternalDisplayName"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/LovCompanyPersAllResponse"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "405": {
            "$ref": "#/components/responses/405"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "501": {
            "$ref": "#/components/responses/501"
          },
          "503": {
            "$ref": "#/components/responses/503"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        }
      },
      "parameters": [
        {
          "name": "CompanyId",
          "in": "path",
          "description": "",
          "required": true,
          "schema": {
            "maxLength": 4000,
            "type": "string",
            "example": "It is a Text"
          }
        },
        {
          "name": "EmpNo",
          "in": "path",
          "description": "",
          "required": true,
          "schema": {
            "maxLength": 4000,
            "type": "string",
            "example": "It is a Text"
          }
        }
      ]
    },
    "/Reference_LovCompanyPersonPub": {
      "get": {
        "tags": [
          "Reference_LovCompanyPersonPub"
        ],
        "summary": "Get entities from Reference_LovCompanyPersonPub",
        "parameters": [
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filter items by property values, see [OData Filtering](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_The_$filter_System)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Order items by property values, see [OData Sorting](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_The_$select_System_1)",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "CompanyId",
                  "CompanyId desc",
                  "PersonId",
                  "PersonId desc",
                  "EmpNo",
                  "EmpNo desc",
                  "InternalDisplayName",
                  "InternalDisplayName desc"
                ]
              }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Specify properties to return, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_System_Query_Option_3)",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "luname",
                  "keyref",
                  "CompanyId",
                  "PersonId",
                  "EmpNo",
                  "InternalDisplayName"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/LovCompanyPersonPubarrayResponse"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "405": {
            "$ref": "#/components/responses/405"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "501": {
            "$ref": "#/components/responses/501"
          },
          "503": {
            "$ref": "#/components/responses/503"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        }
      }
    },
    "/Reference_LovCompanyPersonPub(CompanyId='{CompanyId}',EmpNo='{EmpNo}')": {
      "get": {
        "tags": [
          "Reference_LovCompanyPersonPub"
        ],
        "summary": "Get entity from Reference_LovCompanyPersonPub by key",
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "Specify properties to return, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_System_Query_Option_3)",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "luname",
                  "keyref",
                  "CompanyId",
                  "PersonId",
                  "EmpNo",
                  "InternalDisplayName"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/LovCompanyPersonPubResponse"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "405": {
            "$ref": "#/components/responses/405"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "501": {
            "$ref": "#/components/responses/501"
          },
          "503": {
            "$ref": "#/components/responses/503"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        }
      },
      "parameters": [
        {
          "name": "CompanyId",
          "in": "path",
          "description": "",
          "required": true,
          "schema": {
            "maxLength": 4000,
            "type": "string",
            "example": "It is a Text"
          }
        },
        {
          "name": "EmpNo",
          "in": "path",
          "description": "",
          "required": true,
          "schema": {
            "maxLength": 4000,
            "type": "string",
            "example": "It is a Text"
          }
        }
      ]
    },
    "/Reference_LovDirectCompanyPerson": {
      "get": {
        "tags": [
          "Reference_LovDirectCompanyPerson"
        ],
        "summary": "Get entities from Reference_LovDirectCompanyPerson",
        "parameters": [
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filter items by property values, see [OData Filtering](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_The_$filter_System)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Order items by property values, see [OData Sorting](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_The_$select_System_1)",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "CompanyId",
                  "CompanyId desc",
                  "PersonId",
                  "PersonId desc",
                  "EmpNo",
                  "EmpNo desc",
                  "InternalDisplayName",
                  "InternalDisplayName desc",
                  "StructureType",
                  "StructureType desc",
                  "StructureId",
                  "StructureId desc",
                  "StructureName",
                  "StructureName desc",
                  "MasterEmployment",
                  "MasterEmployment desc",
                  "OrganizationCode",
                  "OrganizationCode desc",
                  "OrganizationName",
                  "OrganizationName desc",
                  "PositionId",
                  "PositionId desc",
                  "PositionTitle",
                  "PositionTitle desc",
                  "JobId",
                  "JobId desc",
                  "JobName",
                  "JobName desc",
                  "Status",
                  "Status desc"
                ]
              }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Specify properties to return, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_System_Query_Option_3)",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "luname",
                  "keyref",
                  "CompanyId",
                  "PersonId",
                  "EmpNo",
                  "InternalDisplayName",
                  "StructureType",
                  "StructureId",
                  "StructureName",
                  "MasterEmployment",
                  "OrganizationCode",
                  "OrganizationName",
                  "PositionId",
                  "PositionTitle",
                  "JobId",
                  "JobName",
                  "Status"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/LovDirectCompanyPersonarrayResponse"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "405": {
            "$ref": "#/components/responses/405"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "501": {
            "$ref": "#/components/responses/501"
          },
          "503": {
            "$ref": "#/components/responses/503"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        }
      }
    },
    "/Reference_LovDirectCompanyPerson(CompanyId='{CompanyId}',EmpNo='{EmpNo}')": {
      "get": {
        "tags": [
          "Reference_LovDirectCompanyPerson"
        ],
        "summary": "Get entity from Reference_LovDirectCompanyPerson by key",
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "Specify properties to return, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_System_Query_Option_3)",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "luname",
                  "keyref",
                  "CompanyId",
                  "PersonId",
                  "EmpNo",
                  "InternalDisplayName",
                  "StructureType",
                  "StructureId",
                  "StructureName",
                  "MasterEmployment",
                  "OrganizationCode",
                  "OrganizationName",
                  "PositionId",
                  "PositionTitle",
                  "JobId",
                  "JobName",
                  "Status"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/LovDirectCompanyPersonResponse"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "405": {
            "$ref": "#/components/responses/405"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "501": {
            "$ref": "#/components/responses/501"
          },
          "503": {
            "$ref": "#/components/responses/503"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        }
      },
      "parameters": [
        {
          "name": "CompanyId",
          "in": "path",
          "description": "",
          "required": true,
          "schema": {
            "maxLength": 4000,
            "type": "string",
            "example": "It is a Text"
          }
        },
        {
          "name": "EmpNo",
          "in": "path",
          "description": "",
          "required": true,
          "schema": {
            "maxLength": 4000,
            "type": "string",
            "example": "It is a Text"
          }
        }
      ]
    },
    "/Reference_InvoiceUtilityPub": {
      "get": {
        "tags": [
          "Reference_InvoiceUtilityPub"
        ],
        "summary": "Get entities from Reference_InvoiceUtilityPub",
        "parameters": [
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filter items by property values, see [OData Filtering](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_The_$filter_System)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Order items by property values, see [OData Sorting](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_The_$select_System_1)",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "Company",
                  "Company desc",
                  "SeriesId",
                  "SeriesId desc",
                  "InvoiceId",
                  "InvoiceId desc",
                  "InvoiceNo",
                  "InvoiceNo desc",
                  "NcfReference",
                  "NcfReference desc",
                  "InvoiceType",
                  "InvoiceType desc",
                  "CDseRequestNo",
                  "CDseRequestNo desc"
                ]
              }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Specify properties to return, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_System_Query_Option_3)",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "luname",
                  "keyref",
                  "Company",
                  "SeriesId",
                  "InvoiceId",
                  "InvoiceNo",
                  "NcfReference",
                  "InvoiceType",
                  "CDseRequestNo"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/InvoiceUtilityPubarrayResponse"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "405": {
            "$ref": "#/components/responses/405"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "501": {
            "$ref": "#/components/responses/501"
          },
          "503": {
            "$ref": "#/components/responses/503"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        }
      }
    },
    "/Reference_InvoiceUtilityPub(Company='{Company}',InvoiceId={InvoiceId})": {
      "get": {
        "tags": [
          "Reference_InvoiceUtilityPub"
        ],
        "summary": "Get entity from Reference_InvoiceUtilityPub by key",
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "Specify properties to return, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_System_Query_Option_3)",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "luname",
                  "keyref",
                  "Company",
                  "SeriesId",
                  "InvoiceId",
                  "InvoiceNo",
                  "NcfReference",
                  "InvoiceType",
                  "CDseRequestNo"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/InvoiceUtilityPubResponse"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "405": {
            "$ref": "#/components/responses/405"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "501": {
            "$ref": "#/components/responses/501"
          },
          "503": {
            "$ref": "#/components/responses/503"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        }
      },
      "parameters": [
        {
          "name": "Company",
          "in": "path",
          "description": "",
          "required": true,
          "schema": {
            "maxLength": 4000,
            "type": "string",
            "example": "It is a Text"
          }
        },
        {
          "name": "InvoiceId",
          "in": "path",
          "description": "",
          "required": true,
          "schema": {
            "type": "number",
            "example": 1
          }
        }
      ]
    },
    "/Reference_VrtImportFile": {
      "get": {
        "tags": [
          "Reference_VrtImportFile"
        ],
        "summary": "Get entities from Reference_VrtImportFile",
        "parameters": [
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filter items by property values, see [OData Filtering](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_The_$filter_System)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Order items by property values, see [OData Sorting](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_The_$select_System_1)",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "Objkey",
                  "Objkey desc",
                  "ParentObjkey",
                  "ParentObjkey desc",
                  "Objmodified",
                  "Objmodified desc",
                  "ObjCreatedBy",
                  "ObjCreatedBy desc",
                  "RequestNo",
                  "RequestNo desc",
                  "FileDate",
                  "FileDate desc",
                  "FileCount",
                  "FileCount desc",
                  "Overwrite",
                  "Overwrite desc",
                  "FileName",
                  "FileName desc",
                  "FileData",
                  "FileData desc"
                ]
              }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Specify properties to return, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_System_Query_Option_3)",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "luname",
                  "keyref",
                  "Objkey",
                  "ParentObjkey",
                  "Objmodified",
                  "ObjCreatedBy",
                  "RequestNo",
                  "FileDate",
                  "FileCount",
                  "Overwrite",
                  "FileName",
                  "FileData"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/VrtImportFilearrayResponse"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "405": {
            "$ref": "#/components/responses/405"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "501": {
            "$ref": "#/components/responses/501"
          },
          "503": {
            "$ref": "#/components/responses/503"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        }
      }
    },
    "/Reference_VrtImportFile(Objkey='{Objkey}')": {
      "get": {
        "tags": [
          "Reference_VrtImportFile"
        ],
        "summary": "Get entity from Reference_VrtImportFile by key",
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "Specify properties to return, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_System_Query_Option_3)",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "luname",
                  "keyref",
                  "Objkey",
                  "ParentObjkey",
                  "Objmodified",
                  "ObjCreatedBy",
                  "RequestNo",
                  "FileDate",
                  "FileCount",
                  "Overwrite",
                  "FileName",
                  "FileData"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/VrtImportFileResponse"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "405": {
            "$ref": "#/components/responses/405"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "501": {
            "$ref": "#/components/responses/501"
          },
          "503": {
            "$ref": "#/components/responses/503"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        }
      },
      "parameters": [
        {
          "name": "Objkey",
          "in": "path",
          "description": "",
          "required": true,
          "schema": {
            "maxLength": 50,
            "type": "string",
            "example": "It is a Text"
          }
        }
      ]
    },
    "/Reference_Supplier": {
      "get": {
        "tags": [
          "Reference_Supplier"
        ],
        "summary": "Get entities from Reference_Supplier",
        "description": "This endpoint is timezone aware and uses the header X-Ifs-Time-Zone-Aware-Request to manage the timezone awareness.",
        "parameters": [
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filter items by property values, see [OData Filtering](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_The_$filter_System)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Order items by property values, see [OData Sorting](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_The_$select_System_1)",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "VendorNo",
                  "VendorNo desc",
                  "VendorName",
                  "VendorName desc",
                  "BuyerCode",
                  "BuyerCode desc",
                  "CurrencyCode",
                  "CurrencyCode desc",
                  "SuppGrp",
                  "SuppGrp desc",
                  "AdditionalCostAmount",
                  "AdditionalCostAmount desc",
                  "Contact",
                  "Contact desc",
                  "CrCheck",
                  "CrCheck desc",
                  "CrDate",
                  "CrDate desc",
                  "CrNoteText",
                  "CrNoteText desc",
                  "DateDel",
                  "DateDel desc",
                  "Discount",
                  "Discount desc",
                  "NoteText",
                  "NoteText desc",
                  "OurCustomerNo",
                  "OurCustomerNo desc",
                  "PackListFlag",
                  "PackListFlag desc",
                  "PurchOrderFlag",
                  "PurchOrderFlag desc",
                  "QcApproval",
                  "QcApproval desc",
                  "QcDate",
                  "QcDate desc",
                  "QcAudit",
                  "QcAudit desc",
                  "QcNoteText",
                  "QcNoteText desc",
                  "OrdConfRemInterval",
                  "OrdConfRemInterval desc",
                  "DeliveryRemInterval",
                  "DeliveryRemInterval desc",
                  "DaysBeforeDelivery",
                  "DaysBeforeDelivery desc",
                  "DaysBeforeArrival",
                  "DaysBeforeArrival desc",
                  "OrdConfReminder",
                  "OrdConfReminder desc",
                  "DeliveryReminder",
                  "DeliveryReminder desc",
                  "Category",
                  "Category desc",
                  "AcquisitionSite",
                  "AcquisitionSite desc",
                  "Company",
                  "Company desc",
                  "PayTermId",
                  "PayTermId desc",
                  "EdiAutoApprovalUser",
                  "EdiAutoApprovalUser desc",
                  "QcType",
                  "QcType desc",
                  "EnvironmentDate",
                  "EnvironmentDate desc",
                  "EnvironmentType",
                  "EnvironmentType desc",
                  "EnvironmentalApproval",
                  "EnvironmentalApproval desc",
                  "EnvironmentAudit",
                  "EnvironmentAudit desc",
                  "EnvironmentNoteText",
                  "EnvironmentNoteText desc",
                  "CocApproval",
                  "CocApproval desc",
                  "CocDate",
                  "CocDate desc",
                  "CocType",
                  "CocType desc",
                  "CocAudit",
                  "CocAudit desc",
                  "CocNoteText",
                  "CocNoteText desc",
                  "CustomerNo",
                  "CustomerNo desc",
                  "NoteId",
                  "NoteId desc",
                  "SupplierTemplateDesc",
                  "SupplierTemplateDesc desc",
                  "TemplateSupplier",
                  "TemplateSupplier desc",
                  "QuickRegisteredSupplier",
                  "QuickRegisteredSupplier desc",
                  "BlanketDate",
                  "BlanketDate desc",
                  "ExpressOrderAllowed",
                  "ExpressOrderAllowed desc",
                  "EdiPriCatAppUser",
                  "EdiPriCatAppUser desc",
                  "PricatAutomaticApproval",
                  "PricatAutomaticApproval desc",
                  "AutomaticReplChange",
                  "AutomaticReplChange desc",
                  "SendChangeMessage",
                  "SendChangeMessage desc",
                  "ReceiptRefReminder",
                  "ReceiptRefReminder desc",
                  "PrintAmountsInclTax",
                  "PrintAmountsInclTax desc",
                  "ClosingDay",
                  "ClosingDay desc",
                  "EndOfMonth",
                  "EndOfMonth desc",
                  "ReceivingAdviceType",
                  "ReceivingAdviceType desc",
                  "RecAdvSelfBilling",
                  "RecAdvSelfBilling desc",
                  "ClassificationStandard",
                  "ClassificationStandard desc",
                  "PurchaseCode",
                  "PurchaseCode desc",
                  "PoChangeManagement",
                  "PoChangeManagement desc",
                  "CreateConfirmationChgOrd",
                  "CreateConfirmationChgOrd desc",
                  "EmailPurchaseOrder",
                  "EmailPurchaseOrder desc",
                  "VendorCategoryDb",
                  "VendorCategoryDb desc",
                  "DirDelApproval",
                  "DirDelApproval desc",
                  "OrderConfApproval",
                  "OrderConfApproval desc",
                  "OrderConfDiffApproval",
                  "OrderConfDiffApproval desc",
                  "AdhocPurRqstApproval",
                  "AdhocPurRqstApproval desc",
                  "TaxLiability",
                  "TaxLiability desc",
                  "B2bConfOrderWithDiff",
                  "B2bConfOrderWithDiff desc",
                  "QualitySystemLevelId",
                  "QualitySystemLevelId desc",
                  "QualityAuditId",
                  "QualityAuditId desc",
                  "EnvironmentAuditId",
                  "EnvironmentAuditId desc",
                  "CocAuditId",
                  "CocAuditId desc",
                  "RecAdvSbConsignment",
                  "RecAdvSbConsignment desc",
                  "RecAdvSbMixOwnership",
                  "RecAdvSbMixOwnership desc"
                ]
              }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Specify properties to return, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_System_Query_Option_3)",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "luname",
                  "keyref",
                  "VendorNo",
                  "VendorName",
                  "BuyerCode",
                  "CurrencyCode",
                  "SuppGrp",
                  "AdditionalCostAmount",
                  "Contact",
                  "CrCheck",
                  "CrDate",
                  "CrNoteText",
                  "DateDel",
                  "Discount",
                  "NoteText",
                  "OurCustomerNo",
                  "PackListFlag",
                  "PurchOrderFlag",
                  "QcApproval",
                  "QcDate",
                  "QcAudit",
                  "QcNoteText",
                  "OrdConfRemInterval",
                  "DeliveryRemInterval",
                  "DaysBeforeDelivery",
                  "DaysBeforeArrival",
                  "OrdConfReminder",
                  "DeliveryReminder",
                  "Category",
                  "AcquisitionSite",
                  "Company",
                  "PayTermId",
                  "EdiAutoApprovalUser",
                  "QcType",
                  "EnvironmentDate",
                  "EnvironmentType",
                  "EnvironmentalApproval",
                  "EnvironmentAudit",
                  "EnvironmentNoteText",
                  "CocApproval",
                  "CocDate",
                  "CocType",
                  "CocAudit",
                  "CocNoteText",
                  "CustomerNo",
                  "NoteId",
                  "SupplierTemplateDesc",
                  "TemplateSupplier",
                  "QuickRegisteredSupplier",
                  "BlanketDate",
                  "ExpressOrderAllowed",
                  "EdiPriCatAppUser",
                  "PricatAutomaticApproval",
                  "AutomaticReplChange",
                  "SendChangeMessage",
                  "ReceiptRefReminder",
                  "PrintAmountsInclTax",
                  "ClosingDay",
                  "EndOfMonth",
                  "ReceivingAdviceType",
                  "RecAdvSelfBilling",
                  "ClassificationStandard",
                  "PurchaseCode",
                  "PoChangeManagement",
                  "CreateConfirmationChgOrd",
                  "EmailPurchaseOrder",
                  "VendorCategoryDb",
                  "DirDelApproval",
                  "OrderConfApproval",
                  "OrderConfDiffApproval",
                  "AdhocPurRqstApproval",
                  "TaxLiability",
                  "B2bConfOrderWithDiff",
                  "QualitySystemLevelId",
                  "QualityAuditId",
                  "EnvironmentAuditId",
                  "CocAuditId",
                  "RecAdvSbConsignment",
                  "RecAdvSbMixOwnership"
                ]
              }
            }
          },
          {
            "name": "X-IFS-Time-Zone-Aware-Request",
            "in": "header",
            "description": "If this header is set to true, ensure that all timestamp values you send are in UTC format. The timestamps you receive will also be in UTC format.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/SupplierarrayResponse"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "405": {
            "$ref": "#/components/responses/405"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "501": {
            "$ref": "#/components/responses/501"
          },
          "503": {
            "$ref": "#/components/responses/503"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        }
      }
    },
    "/Reference_Supplier(VendorNo='{VendorNo}')": {
      "get": {
        "tags": [
          "Reference_Supplier"
        ],
        "summary": "Get entity from Reference_Supplier by key",
        "description": "This endpoint is timezone aware and uses the header X-Ifs-Time-Zone-Aware-Request to manage the timezone awareness.",
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "Specify properties to return, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_System_Query_Option_3)",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "luname",
                  "keyref",
                  "VendorNo",
                  "VendorName",
                  "BuyerCode",
                  "CurrencyCode",
                  "SuppGrp",
                  "AdditionalCostAmount",
                  "Contact",
                  "CrCheck",
                  "CrDate",
                  "CrNoteText",
                  "DateDel",
                  "Discount",
                  "NoteText",
                  "OurCustomerNo",
                  "PackListFlag",
                  "PurchOrderFlag",
                  "QcApproval",
                  "QcDate",
                  "QcAudit",
                  "QcNoteText",
                  "OrdConfRemInterval",
                  "DeliveryRemInterval",
                  "DaysBeforeDelivery",
                  "DaysBeforeArrival",
                  "OrdConfReminder",
                  "DeliveryReminder",
                  "Category",
                  "AcquisitionSite",
                  "Company",
                  "PayTermId",
                  "EdiAutoApprovalUser",
                  "QcType",
                  "EnvironmentDate",
                  "EnvironmentType",
                  "EnvironmentalApproval",
                  "EnvironmentAudit",
                  "EnvironmentNoteText",
                  "CocApproval",
                  "CocDate",
                  "CocType",
                  "CocAudit",
                  "CocNoteText",
                  "CustomerNo",
                  "NoteId",
                  "SupplierTemplateDesc",
                  "TemplateSupplier",
                  "QuickRegisteredSupplier",
                  "BlanketDate",
                  "ExpressOrderAllowed",
                  "EdiPriCatAppUser",
                  "PricatAutomaticApproval",
                  "AutomaticReplChange",
                  "SendChangeMessage",
                  "ReceiptRefReminder",
                  "PrintAmountsInclTax",
                  "ClosingDay",
                  "EndOfMonth",
                  "ReceivingAdviceType",
                  "RecAdvSelfBilling",
                  "ClassificationStandard",
                  "PurchaseCode",
                  "PoChangeManagement",
                  "CreateConfirmationChgOrd",
                  "EmailPurchaseOrder",
                  "VendorCategoryDb",
                  "DirDelApproval",
                  "OrderConfApproval",
                  "OrderConfDiffApproval",
                  "AdhocPurRqstApproval",
                  "TaxLiability",
                  "B2bConfOrderWithDiff",
                  "QualitySystemLevelId",
                  "QualityAuditId",
                  "EnvironmentAuditId",
                  "CocAuditId",
                  "RecAdvSbConsignment",
                  "RecAdvSbMixOwnership"
                ]
              }
            }
          },
          {
            "name": "X-IFS-Time-Zone-Aware-Request",
            "in": "header",
            "description": "If this header is set to true, ensure that all timestamp values you send are in UTC format. The timestamps you receive will also be in UTC format.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/SupplierResponse"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "405": {
            "$ref": "#/components/responses/405"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "501": {
            "$ref": "#/components/responses/501"
          },
          "503": {
            "$ref": "#/components/responses/503"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        }
      },
      "parameters": [
        {
          "name": "VendorNo",
          "in": "path",
          "description": "",
          "required": true,
          "schema": {
            "maxLength": 20,
            "type": "string",
            "example": "It is a Text"
          }
        }
      ]
    },
    "/Reference_CorrectionReason": {
      "get": {
        "tags": [
          "Reference_CorrectionReason"
        ],
        "summary": "Get entities from Reference_CorrectionReason",
        "parameters": [
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filter items by property values, see [OData Filtering](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_The_$filter_System)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Order items by property values, see [OData Sorting](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_The_$select_System_1)",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "Objstate",
                  "Objstate desc",
                  "Company",
                  "Company desc",
                  "CorrectionReasonId",
                  "CorrectionReasonId desc",
                  "CorrectionReason",
                  "CorrectionReason desc"
                ]
              }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Specify properties to return, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_System_Query_Option_3)",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "luname",
                  "keyref",
                  "Objstate",
                  "Company",
                  "CorrectionReasonId",
                  "CorrectionReason"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/CorrectionReasonarrayResponse"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "405": {
            "$ref": "#/components/responses/405"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "501": {
            "$ref": "#/components/responses/501"
          },
          "503": {
            "$ref": "#/components/responses/503"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        }
      }
    },
    "/Reference_CorrectionReason(Company='{Company}',CorrectionReasonId='{CorrectionReasonId}')": {
      "get": {
        "tags": [
          "Reference_CorrectionReason"
        ],
        "summary": "Get entity from Reference_CorrectionReason by key",
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "Specify properties to return, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_System_Query_Option_3)",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "luname",
                  "keyref",
                  "Objstate",
                  "Company",
                  "CorrectionReasonId",
                  "CorrectionReason"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/CorrectionReasonResponse"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "405": {
            "$ref": "#/components/responses/405"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "501": {
            "$ref": "#/components/responses/501"
          },
          "503": {
            "$ref": "#/components/responses/503"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        }
      },
      "parameters": [
        {
          "name": "Company",
          "in": "path",
          "description": "",
          "required": true,
          "schema": {
            "maxLength": 20,
            "type": "string",
            "example": "It is a Text"
          }
        },
        {
          "name": "CorrectionReasonId",
          "in": "path",
          "description": "",
          "required": true,
          "schema": {
            "maxLength": 20,
            "type": "string",
            "example": "It is a Text"
          }
        }
      ]
    },
    "/Reference_CurrencyCode": {
      "get": {
        "tags": [
          "Reference_CurrencyCode"
        ],
        "summary": "Get entities from Reference_CurrencyCode",
        "parameters": [
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filter items by property values, see [OData Filtering](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_The_$filter_System)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Order items by property values, see [OData Sorting](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_The_$select_System_1)",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "Company",
                  "Company desc",
                  "CurrencyCode",
                  "CurrencyCode desc",
                  "ConvFactor",
                  "ConvFactor desc",
                  "Description",
                  "Description desc",
                  "CurrencyRounding",
                  "CurrencyRounding desc",
                  "DecimalsInRate",
                  "DecimalsInRate desc",
                  "Inverted",
                  "Inverted desc",
                  "EmuCurrencyFromDate",
                  "EmuCurrencyFromDate desc"
                ]
              }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Specify properties to return, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_System_Query_Option_3)",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "luname",
                  "keyref",
                  "Company",
                  "CurrencyCode",
                  "ConvFactor",
                  "Description",
                  "CurrencyRounding",
                  "DecimalsInRate",
                  "Inverted",
                  "EmuCurrencyFromDate"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/CurrencyCodearrayResponse"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "405": {
            "$ref": "#/components/responses/405"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "501": {
            "$ref": "#/components/responses/501"
          },
          "503": {
            "$ref": "#/components/responses/503"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        }
      }
    },
    "/Reference_CurrencyCode(Company='{Company}',CurrencyCode='{CurrencyCode}')": {
      "get": {
        "tags": [
          "Reference_CurrencyCode"
        ],
        "summary": "Get entity from Reference_CurrencyCode by key",
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "Specify properties to return, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_System_Query_Option_3)",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "luname",
                  "keyref",
                  "Company",
                  "CurrencyCode",
                  "ConvFactor",
                  "Description",
                  "CurrencyRounding",
                  "DecimalsInRate",
                  "Inverted",
                  "EmuCurrencyFromDate"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/CurrencyCodeResponse"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "405": {
            "$ref": "#/components/responses/405"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "501": {
            "$ref": "#/components/responses/501"
          },
          "503": {
            "$ref": "#/components/responses/503"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        }
      },
      "parameters": [
        {
          "name": "Company",
          "in": "path",
          "description": "",
          "required": true,
          "schema": {
            "maxLength": 20,
            "type": "string",
            "example": "It is a Text"
          }
        },
        {
          "name": "CurrencyCode",
          "in": "path",
          "description": "",
          "required": true,
          "schema": {
            "maxLength": 3,
            "type": "string",
            "example": "It is a Text"
          }
        }
      ]
    },
    "/Reference_Project": {
      "get": {
        "tags": [
          "Reference_Project"
        ],
        "summary": "Get entities from Reference_Project",
        "description": "This endpoint is timezone aware and uses the header X-Ifs-Time-Zone-Aware-Request to manage the timezone awareness.",
        "parameters": [
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filter items by property values, see [OData Filtering](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_The_$filter_System)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Order items by property values, see [OData Sorting](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_The_$select_System_1)",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "Objstate",
                  "Objstate desc",
                  "ProjectId",
                  "ProjectId desc",
                  "Name",
                  "Name desc",
                  "Description",
                  "Description desc"
                ]
              }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Specify properties to return, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_System_Query_Option_3)",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "luname",
                  "keyref",
                  "Objstate",
                  "ProjectId",
                  "Name",
                  "Description"
                ]
              }
            }
          },
          {
            "name": "X-IFS-Time-Zone-Aware-Request",
            "in": "header",
            "description": "If this header is set to true, ensure that all timestamp values you send are in UTC format. The timestamps you receive will also be in UTC format.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ProjectarrayResponse"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "405": {
            "$ref": "#/components/responses/405"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "501": {
            "$ref": "#/components/responses/501"
          },
          "503": {
            "$ref": "#/components/responses/503"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        }
      }
    },
    "/Reference_Project(ProjectId='{ProjectId}')": {
      "get": {
        "tags": [
          "Reference_Project"
        ],
        "summary": "Get entity from Reference_Project by key",
        "description": "This endpoint is timezone aware and uses the header X-Ifs-Time-Zone-Aware-Request to manage the timezone awareness.",
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "Specify properties to return, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_System_Query_Option_3)",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "luname",
                  "keyref",
                  "Objstate",
                  "ProjectId",
                  "Name",
                  "Description"
                ]
              }
            }
          },
          {
            "name": "X-IFS-Time-Zone-Aware-Request",
            "in": "header",
            "description": "If this header is set to true, ensure that all timestamp values you send are in UTC format. The timestamps you receive will also be in UTC format.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ProjectResponse"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "405": {
            "$ref": "#/components/responses/405"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "501": {
            "$ref": "#/components/responses/501"
          },
          "503": {
            "$ref": "#/components/responses/503"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        }
      },
      "parameters": [
        {
          "name": "ProjectId",
          "in": "path",
          "description": "",
          "required": true,
          "schema": {
            "maxLength": 10,
            "type": "string",
            "example": "It is a Text"
          }
        }
      ]
    },
    "/Lookup_IsoCountry_EntitySet": {
      "get": {
        "tags": [
          "Lookup_IsoCountry_EntitySet"
        ],
        "summary": "Get entities from Lookup_IsoCountry_EntitySet",
        "parameters": [
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filter items by property values, see [OData Filtering](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_The_$filter_System)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Order items by property values, see [OData Sorting](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_The_$select_System_1)",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "Id",
                  "Id desc",
                  "Description",
                  "Description desc"
                ]
              }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Specify properties to return, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_System_Query_Option_3)",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "luname",
                  "keyref",
                  "Id",
                  "Description"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Lookup_IsoCountry_EntityTypearrayResponse"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "405": {
            "$ref": "#/components/responses/405"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "501": {
            "$ref": "#/components/responses/501"
          },
          "503": {
            "$ref": "#/components/responses/503"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        }
      }
    },
    "/Lookup_IsoCountry_EntitySet(Id='{Id}')": {
      "get": {
        "tags": [
          "Lookup_IsoCountry_EntitySet"
        ],
        "summary": "Get entity from Lookup_IsoCountry_EntitySet by key",
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "Specify properties to return, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_System_Query_Option_3)",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "luname",
                  "keyref",
                  "Id",
                  "Description"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Lookup_IsoCountry_EntityTypeResponse"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "405": {
            "$ref": "#/components/responses/405"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "501": {
            "$ref": "#/components/responses/501"
          },
          "503": {
            "$ref": "#/components/responses/503"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        }
      },
      "parameters": [
        {
          "name": "Id",
          "in": "path",
          "description": "",
          "required": true,
          "schema": {
            "maxLength": 4000,
            "type": "string",
            "example": "It is a Text"
          }
        }
      ]
    },
    "/Lookup_IsoCurrency_EntitySet": {
      "get": {
        "tags": [
          "Lookup_IsoCurrency_EntitySet"
        ],
        "summary": "Get entities from Lookup_IsoCurrency_EntitySet",
        "parameters": [
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filter items by property values, see [OData Filtering](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_The_$filter_System)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Order items by property values, see [OData Sorting](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_The_$select_System_1)",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "Id",
                  "Id desc",
                  "Description",
                  "Description desc"
                ]
              }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Specify properties to return, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_System_Query_Option_3)",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "luname",
                  "keyref",
                  "Id",
                  "Description"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Lookup_IsoCurrency_EntityTypearrayResponse"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "405": {
            "$ref": "#/components/responses/405"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "501": {
            "$ref": "#/components/responses/501"
          },
          "503": {
            "$ref": "#/components/responses/503"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        }
      }
    },
    "/Lookup_IsoCurrency_EntitySet(Id='{Id}')": {
      "get": {
        "tags": [
          "Lookup_IsoCurrency_EntitySet"
        ],
        "summary": "Get entity from Lookup_IsoCurrency_EntitySet by key",
        "parameters": [
          {
            "name": "$select",
            "in": "query",
[...]
