{"openapi":"3.0.1","info":{"title":"CEmpAdvanceHandling","description":"**API Class:N/A**\n___\n\n___\n[Terms of Service] (https://docs.ifs.com/policy/APIUsageCloud.pdf)\n","version":"1"},"servers":[{"url":"https://hmvdev.ifs360.cloud/main/ifsapplications/projection/v1/CEmpAdvanceHandling.svc","description":"This OData service is located at https://hmvdev.ifs360.cloud/main/ifsapplications/projection/v1/CEmpAdvanceHandling.svc"}],"security":[{"OpenId":[],"basicAuth":[]}],"tags":[{"name":"CEmpAdvanceQuerySet","description":""},{"name":"CEmpAdvancesSet","description":""},{"name":"CityCodeSet","description":""},{"name":"Service Operations - Actions","description":"Actions"},{"name":"Service Operations - Functions","description":"Functions"},{"name":"Reference_CEmpAdvanceQuery","description":"Reference Entity Set Reference_CEmpAdvanceQuery"},{"name":"Reference_CityCode","description":"Reference Entity Set Reference_CityCode"}],"paths":{"/Reference_CEmpAdvanceQuery":{"get":{"tags":["Reference_CEmpAdvanceQuery"],"summary":"Get entities from Reference_CEmpAdvanceQuery","parameters":[{"$ref":"#/components/parameters/top"},{"$ref":"#/components/parameters/skip"},{"$ref":"#/components/parameters/count"},{"name":"$filter","in":"query","description":"Filter items by property values, see [OData Filtering](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_The_$filter_System)","schema":{"type":"string"}},{"name":"$orderby","in":"query","description":"Order items by property values, see [OData Sorting](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_The_$select_System_1)","explode":false,"schema":{"uniqueItems":true,"type":"array","items":{"type":"string","enum":["RequestNo","RequestNo desc","Description","Description desc","Company","Company desc","InvCompany","InvCompany desc","RequestDate","RequestDate desc","RequestedBy","RequestedBy desc","CreatedBy","CreatedBy desc","LoadId","LoadId desc","RequesterName","RequesterName desc","CreatorName","CreatorName desc","PrepaymentType","PrepaymentType desc","ProjectId","ProjectId desc","EmpNo","EmpNo desc","SupplierId","SupplierId desc","CompanyName","CompanyName desc","CurrencyCode","CurrencyCode desc","Amount","Amount desc","ApproverId","ApproverId desc","ApproverName","ApproverName desc","ApprovedDate","ApprovedDate desc","State","State desc","Objstate","Objstate desc","InvoiceId","InvoiceId desc","InvoiceNo","InvoiceNo desc","InvoiceDate","InvoiceDate desc","NcfReference","NcfReference desc","EmployeeName","EmployeeName desc","Creator","Creator desc","InvObjstate","InvObjstate desc","InvState","InvState desc","RequestType","RequestType desc","SeriesId","SeriesId desc","InvoiceType","InvoiceType desc","DepartureDate","DepartureDate desc","ReturnDate","ReturnDate desc","Destination","Destination desc","PaymentStatus","PaymentStatus desc","ApproverComment","ApproverComment desc","DeliveryDate","DeliveryDate desc"]}}},{"name":"$select","in":"query","description":"Specify properties to return, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_System_Query_Option_3)","explode":false,"schema":{"uniqueItems":true,"type":"array","items":{"type":"string","enum":["luname","keyref","RequestNo","Description","Company","InvCompany","RequestDate","RequestedBy","CreatedBy","LoadId","RequesterName","CreatorName","PrepaymentType","ProjectId","EmpNo","SupplierId","CompanyName","CurrencyCode","Amount","ApproverId","ApproverName","ApprovedDate","State","Objstate","InvoiceId","InvoiceNo","InvoiceDate","NcfReference","EmployeeName","Creator","InvObjstate","InvState","RequestType","SeriesId","InvoiceType","DepartureDate","ReturnDate","Destination","PaymentStatus","ApproverComment","DeliveryDate"]}}},{"name":"$expand","in":"query","description":"Expand related entities, see [OData Expand](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_System_Query_Option_6)","explode":false,"schema":{"uniqueItems":true,"type":"array","items":{"type":"string","enum":["DestinationRef"]}}}],"responses":{"200":{"$ref":"#/components/responses/CEmpAdvanceQueryarrayResponse"},"403":{"$ref":"#/components/responses/403"},"405":{"$ref":"#/components/responses/405"},"500":{"$ref":"#/components/responses/500"},"501":{"$ref":"#/components/responses/501"},"503":{"$ref":"#/components/responses/503"},"504":{"$ref":"#/components/responses/504"}}}},"/Reference_CEmpAdvanceQuery(RequestNo='{RequestNo}')":{"get":{"tags":["Reference_CEmpAdvanceQuery"],"summary":"Get entity from Reference_CEmpAdvanceQuery by key","parameters":[{"name":"$select","in":"query","description":"Specify properties to return, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_System_Query_Option_3)","explode":false,"schema":{"uniqueItems":true,"type":"array","items":{"type":"string","enum":["luname","keyref","RequestNo","Description","Company","InvCompany","RequestDate","RequestedBy","CreatedBy","LoadId","RequesterName","CreatorName","PrepaymentType","ProjectId","EmpNo","SupplierId","CompanyName","CurrencyCode","Amount","ApproverId","ApproverName","ApprovedDate","State","Objstate","InvoiceId","InvoiceNo","InvoiceDate","NcfReference","EmployeeName","Creator","InvObjstate","InvState","RequestType","SeriesId","InvoiceType","DepartureDate","ReturnDate","Destination","PaymentStatus","ApproverComment","DeliveryDate"]}}},{"name":"$expand","in":"query","description":"Expand related entities, see [OData Expand](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_System_Query_Option_6)","explode":false,"schema":{"uniqueItems":true,"type":"array","items":{"type":"string","enum":["DestinationRef"]}}}],"responses":{"200":{"$ref":"#/components/responses/CEmpAdvanceQueryResponse"},"400":{"$ref":"#/components/responses/400"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"405":{"$ref":"#/components/responses/405"},"500":{"$ref":"#/components/responses/500"},"501":{"$ref":"#/components/responses/501"},"503":{"$ref":"#/components/responses/503"},"504":{"$ref":"#/components/responses/504"}}},"parameters":[{"name":"RequestNo","in":"path","description":"","required":true,"schema":{"maxLength":4000,"type":"string","example":"It is a Text"}}]},"/Reference_CityCode":{"get":{"tags":["Reference_CityCode"],"summary":"Get entities from Reference_CityCode","parameters":[{"$ref":"#/components/parameters/top"},{"$ref":"#/components/parameters/skip"},{"$ref":"#/components/parameters/count"},{"name":"$filter","in":"query","description":"Filter items by property values, see [OData Filtering](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_The_$filter_System)","schema":{"type":"string"}},{"name":"$orderby","in":"query","description":"Order items by property values, see [OData Sorting](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_The_$select_System_1)","explode":false,"schema":{"uniqueItems":true,"type":"array","items":{"type":"string","enum":["CountryCode","CountryCode desc","StateCode","StateCode desc","CountyCode","CountyCode desc","CityCode","CityCode desc","CityName","CityName desc","DestinationCode","DestinationCode desc","DestinationDesc","DestinationDesc desc"]}}},{"name":"$select","in":"query","description":"Specify properties to return, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_System_Query_Option_3)","explode":false,"schema":{"uniqueItems":true,"type":"array","items":{"type":"string","enum":["luname","keyref","CountryCode","StateCode","CountyCode","CityCode","CityName","DestinationCode","DestinationDesc"]}}}],"responses":{"200":{"$ref":"#/components/responses/CityCodearrayResponse"},"403":{"$ref":"#/components/responses/403"},"405":{"$ref":"#/components/responses/405"},"500":{"$ref":"#/components/responses/500"},"501":{"$ref":"#/components/responses/501"},"503":{"$ref":"#/components/responses/503"},"504":{"$ref":"#/components/responses/504"}}}},"/Reference_CityCode(CountryCode='{CountryCode}',StateCode='{StateCode}',CountyCode='{CountyCode}',CityCode='{CityCode}')":{"get":{"tags":["Reference_CityCode"],"summary":"Get entity from Reference_CityCode by key","parameters":[{"name":"$select","in":"query","description":"Specify properties to return, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_System_Query_Option_3)","explode":false,"schema":{"uniqueItems":true,"type":"array","items":{"type":"string","enum":["luname","keyref","CountryCode","StateCode","CountyCode","CityCode","CityName","DestinationCode","DestinationDesc"]}}}],"responses":{"200":{"$ref":"#/components/responses/CityCodeResponse"},"400":{"$ref":"#/components/responses/400"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"405":{"$ref":"#/components/responses/405"},"500":{"$ref":"#/components/responses/500"},"501":{"$ref":"#/components/responses/501"},"503":{"$ref":"#/components/responses/503"},"504":{"$ref":"#/components/responses/504"}}},"parameters":[{"name":"CountryCode","in":"path","description":"","required":true,"schema":{"maxLength":2,"type":"string","example":"It is a Text"}},{"name":"StateCode","in":"path","description":"","required":true,"schema":{"maxLength":35,"type":"string","example":"It is a Text"}},{"name":"CountyCode","in":"path","description":"","required":true,"schema":{"maxLength":35,"type":"string","example":"It is a Text"}},{"name":"CityCode","in":"path","description":"","required":true,"schema":{"maxLength":35,"type":"string","example":"It is a Text"}}]},"/CEmpAdvanceQuerySet":{"get":{"tags":["CEmpAdvanceQuerySet"],"summary":"Get entities from CEmpAdvanceQuerySet","parameters":[{"$ref":"#/components/parameters/top"},{"$ref":"#/components/parameters/skip"},{"$ref":"#/components/parameters/count"},{"name":"$filter","in":"query","description":"Filter items by property values, see [OData Filtering](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_The_$filter_System)","schema":{"type":"string"}},{"name":"$orderby","in":"query","description":"Order items by property values, see [OData Sorting](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_The_$select_System_1)","explode":false,"schema":{"uniqueItems":true,"type":"array","items":{"type":"string","enum":["RequestNo","RequestNo desc","Description","Description desc","Company","Company desc","InvCompany","InvCompany desc","RequestDate","RequestDate desc","RequestedBy","RequestedBy desc","CreatedBy","CreatedBy desc","LoadId","LoadId desc","RequesterName","RequesterName desc","CreatorName","CreatorName desc","PrepaymentType","PrepaymentType desc","ProjectId","ProjectId desc","EmpNo","EmpNo desc","SupplierId","SupplierId desc","CompanyName","CompanyName desc","CurrencyCode","CurrencyCode desc","Amount","Amount desc","ApproverId","ApproverId desc","ApproverName","ApproverName desc","ApprovedDate","ApprovedDate desc","State","State desc","Objstate","Objstate desc","InvoiceId","InvoiceId desc","InvoiceNo","InvoiceNo desc","InvoiceDate","InvoiceDate desc","NcfReference","NcfReference desc","EmployeeName","EmployeeName desc","Creator","Creator desc","InvObjstate","InvObjstate desc","InvState","InvState desc","RequestType","RequestType desc","SeriesId","SeriesId desc","InvoiceType","InvoiceType desc","DepartureDate","DepartureDate desc","ReturnDate","ReturnDate desc","Destination","Destination desc","PaymentStatus","PaymentStatus desc","ApproverComment","ApproverComment desc","DeliveryDate","DeliveryDate desc"]}}},{"name":"$select","in":"query","description":"Specify properties to return, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_System_Query_Option_3)","explode":false,"schema":{"uniqueItems":true,"type":"array","items":{"type":"string","enum":["luname","keyref","RequestNo","Description","Company","InvCompany","RequestDate","RequestedBy","CreatedBy","LoadId","RequesterName","CreatorName","PrepaymentType","ProjectId","EmpNo","SupplierId","CompanyName","CurrencyCode","Amount","ApproverId","ApproverName","ApprovedDate","State","Objstate","InvoiceId","InvoiceNo","InvoiceDate","NcfReference","EmployeeName","Creator","InvObjstate","InvState","RequestType","SeriesId","InvoiceType","DepartureDate","ReturnDate","Destination","PaymentStatus","ApproverComment","DeliveryDate"]}}},{"name":"$expand","in":"query","description":"Expand related entities, see [OData Expand](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_System_Query_Option_6)","explode":false,"schema":{"uniqueItems":true,"type":"array","items":{"type":"string","enum":["DestinationRef"]}}}],"responses":{"200":{"$ref":"#/components/responses/CEmpAdvanceQueryarrayResponse"},"403":{"$ref":"#/components/responses/403"},"405":{"$ref":"#/components/responses/405"},"500":{"$ref":"#/components/responses/500"},"501":{"$ref":"#/components/responses/501"},"503":{"$ref":"#/components/responses/503"},"504":{"$ref":"#/components/responses/504"}}}},"/CEmpAdvanceQuerySet(RequestNo='{RequestNo}')":{"get":{"tags":["CEmpAdvanceQuerySet"],"summary":"Get entity from CEmpAdvanceQuerySet by key","parameters":[{"name":"$select","in":"query","description":"Specify properties to return, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_System_Query_Option_3)","explode":false,"schema":{"uniqueItems":true,"type":"array","items":{"type":"string","enum":["luname","keyref","RequestNo","Description","Company","InvCompany","RequestDate","RequestedBy","CreatedBy","LoadId","RequesterName","CreatorName","PrepaymentType","ProjectId","EmpNo","SupplierId","CompanyName","CurrencyCode","Amount","ApproverId","ApproverName","ApprovedDate","State","Objstate","InvoiceId","InvoiceNo","InvoiceDate","NcfReference","EmployeeName","Creator","InvObjstate","InvState","RequestType","SeriesId","InvoiceType","DepartureDate","ReturnDate","Destination","PaymentStatus","ApproverComment","DeliveryDate"]}}},{"name":"$expand","in":"query","description":"Expand related entities, see [OData Expand](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_System_Query_Option_6)","explode":false,"schema":{"uniqueItems":true,"type":"array","items":{"type":"string","enum":["DestinationRef"]}}}],"responses":{"200":{"$ref":"#/components/responses/CEmpAdvanceQueryResponse"},"400":{"$ref":"#/components/responses/400"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"405":{"$ref":"#/components/responses/405"},"500":{"$ref":"#/components/responses/500"},"501":{"$ref":"#/components/responses/501"},"503":{"$ref":"#/components/responses/503"},"504":{"$ref":"#/components/responses/504"}}},"parameters":[{"name":"RequestNo","in":"path","description":"","required":true,"schema":{"maxLength":4000,"type":"string","example":"It is a Text"}}]},"/CEmpAdvanceQuerySet(RequestNo='{RequestNo}')/DestinationRef":{"get":{"tags":["CEmpAdvanceQuerySet"],"summary":"Get entities from DestinationRef","parameters":[{"$ref":"#/components/parameters/top"},{"$ref":"#/components/parameters/skip"},{"$ref":"#/components/parameters/count"},{"name":"$filter","in":"query","description":"Filter items by property values, see [OData Filtering](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_The_$filter_System)","schema":{"type":"string"}},{"name":"$orderby","in":"query","description":"Order items by property values, see [OData Sorting](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_The_$select_System_1)","explode":false,"schema":{"uniqueItems":true,"type":"array","items":{"type":"string","enum":["CountryCode","CountryCode desc","StateCode","StateCode desc","CountyCode","CountyCode desc","CityCode","CityCode desc","CityName","CityName desc","DestinationCode","DestinationCode desc","DestinationDesc","DestinationDesc desc"]}}},{"name":"$select","in":"query","description":"Specify properties to return, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_System_Query_Option_3)","explode":false,"schema":{"uniqueItems":true,"type":"array","items":{"type":"string","enum":["luname","keyref","CountryCode","StateCode","CountyCode","CityCode","CityName","DestinationCode","DestinationDesc"]}}}],"responses":{"200":{"$ref":"#/components/responses/CityCodearrayResponse"},"403":{"$ref":"#/components/responses/403"},"405":{"$ref":"#/components/responses/405"},"500":{"$ref":"#/components/responses/500"},"501":{"$ref":"#/components/responses/501"},"503":{"$ref":"#/components/responses/503"},"504":{"$ref":"#/components/responses/504"}}},"parameters":[{"name":"RequestNo","in":"path","description":"","required":true,"schema":{"maxLength":4000,"type":"string","example":"It is a Text"}}]},"/CEmpAdvancesSet":{"get":{"tags":["CEmpAdvancesSet"],"summary":"Get entities from CEmpAdvancesSet","parameters":[{"$ref":"#/components/parameters/top"},{"$ref":"#/components/parameters/skip"},{"$ref":"#/components/parameters/count"},{"name":"$filter","in":"query","description":"Filter items by property values, see [OData Filtering](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_The_$filter_System)","schema":{"type":"string"}},{"name":"$orderby","in":"query","description":"Order items by property values, see [OData Sorting](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_The_$select_System_1)","explode":false,"schema":{"uniqueItems":true,"type":"array","items":{"type":"string","enum":["Objstate","Objstate desc","RequestNo","RequestNo desc","Description","Description desc","RequestDate","RequestDate desc","RequestType","RequestType desc","RequestedBy","RequestedBy desc","CreatedBy","CreatedBy desc","ProjectId","ProjectId desc","EmpNo","EmpNo desc","Company","Company desc","InvCompany","InvCompany desc","SupplierId","SupplierId desc","CurrencyCode","CurrencyCode desc","Amount","Amount desc","Approver","Approver desc","ApprovedDate","ApprovedDate desc","DepartureDate","DepartureDate desc","ReturnDate","ReturnDate desc","Destination","Destination desc","ApproverComment","ApproverComment desc","LoadId","LoadId desc","ProjectManager","ProjectManager desc"]}}},{"name":"$select","in":"query","description":"Specify properties to return, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_System_Query_Option_3)","explode":false,"schema":{"uniqueItems":true,"type":"array","items":{"type":"string","enum":["luname","keyref","Objstate","RequestNo","Description","RequestDate","RequestType","RequestedBy","CreatedBy","ProjectId","EmpNo","Company","InvCompany","SupplierId","CurrencyCode","Amount","Approver","ApprovedDate","DepartureDate","ReturnDate","Destination","ApproverComment","LoadId","ProjectManager"]}}},{"name":"$expand","in":"query","description":"Expand related entities, see [OData Expand](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_System_Query_Option_6)","explode":false,"schema":{"uniqueItems":true,"type":"array","items":{"type":"string","enum":["DestinationRef"]}}}],"responses":{"200":{"$ref":"#/components/responses/CEmpAdvancesarrayResponse"},"403":{"$ref":"#/components/responses/403"},"405":{"$ref":"#/components/responses/405"},"500":{"$ref":"#/components/responses/500"},"501":{"$ref":"#/components/responses/501"},"503":{"$ref":"#/components/responses/503"},"504":{"$ref":"#/components/responses/504"}}},"post":{"tags":["CEmpAdvancesSet"],"summary":"Add new entity to CEmpAdvancesSet","parameters":[{"name":"select-fields","in":"query","description":"Specify properties to return, using the query parameter select-fields","explode":false,"schema":{"uniqueItems":true,"type":"array","items":{"type":"string","enum":["luname","keyref","Objstate","RequestNo","Description","RequestDate","RequestType","RequestedBy","CreatedBy","ProjectId","EmpNo","Company","InvCompany","SupplierId","CurrencyCode","Amount","Approver","ApprovedDate","DepartureDate","ReturnDate","Destination","ApproverComment","LoadId","ProjectManager"]}}}],"requestBody":{"$ref":"#/components/requestBodies/CEmpAdvances-InsertRequest"},"responses":{"201":{"$ref":"#/components/responses/CEmpAdvancesResponse"},"204":{"$ref":"#/components/responses/204"},"400":{"$ref":"#/components/responses/400"},"403":{"$ref":"#/components/responses/403"},"405":{"$ref":"#/components/responses/405"},"500":{"$ref":"#/components/responses/500"},"501":{"$ref":"#/components/responses/501"},"503":{"$ref":"#/components/responses/503"},"504":{"$ref":"#/components/responses/504"}}}},"/CEmpAdvancesSet(RequestNo='{RequestNo}')":{"get":{"tags":["CEmpAdvancesSet"],"summary":"Get entity from CEmpAdvancesSet by key","parameters":[{"name":"$select","in":"query","description":"Specify properties to return, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_System_Query_Option_3)","explode":false,"schema":{"uniqueItems":true,"type":"array","items":{"type":"string","enum":["luname","keyref","Objstate","RequestNo","Description","RequestDate","RequestType","RequestedBy","CreatedBy","ProjectId","EmpNo","Company","InvCompany","SupplierId","CurrencyCode","Amount","Approver","ApprovedDate","DepartureDate","ReturnDate","Destination","ApproverComment","LoadId","ProjectManager"]}}},{"name":"$expand","in":"query","description":"Expand related entities, see [OData Expand](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_System_Query_Option_6)","explode":false,"schema":{"uniqueItems":true,"type":"array","items":{"type":"string","enum":["DestinationRef"]}}}],"responses":{"200":{"$ref":"#/components/responses/CEmpAdvancesResponse"},"400":{"$ref":"#/components/responses/400"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"405":{"$ref":"#/components/responses/405"},"500":{"$ref":"#/components/responses/500"},"501":{"$ref":"#/components/responses/501"},"503":{"$ref":"#/components/responses/503"},"504":{"$ref":"#/components/responses/504"}}},"parameters":[{"name":"RequestNo","in":"path","description":"","required":true,"schema":{"maxLength":20,"type":"string","example":"It is a Text"}}]},"/CEmpAdvancesSet(RequestNo='{RequestNo}')/IfsApp.CEmpAdvanceHandling.CEmpAdvances_Approve":{"post":{"tags":["CEmpAdvancesSet"],"summary":"Invoke action Approve","description":"","parameters":[{"name":"If-Match","in":"header","description":"E-Tag","required":true,"schema":{"type":"string"}}],"requestBody":{"$ref":"#/components/requestBodies/ApproveActionRequest"},"responses":{"204":{"$ref":"#/components/responses/204"},"400":{"$ref":"#/components/responses/400"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"405":{"$ref":"#/components/responses/405"},"412":{"$ref":"#/components/responses/412"},"500":{"$ref":"#/components/responses/500"},"501":{"$ref":"#/components/responses/501"},"503":{"$ref":"#/components/responses/503"},"504":{"$ref":"#/components/responses/504"}}},"parameters":[{"name":"RequestNo","in":"path","description":"","required":true,"schema":{"maxLength":20,"type":"string","example":"It is a Text"}}]},"/CEmpAdvancesSet(RequestNo='{RequestNo}')/IfsApp.CEmpAdvanceHandling.CEmpAdvances_Reject":{"post":{"tags":["CEmpAdvancesSet"],"summary":"Invoke action Reject","description":"","parameters":[{"name":"If-Match","in":"header","description":"E-Tag","required":true,"schema":{"type":"string"}}],"requestBody":{"$ref":"#/components/requestBodies/RejectActionRequest"},"responses":{"204":{"$ref":"#/components/responses/204"},"400":{"$ref":"#/components/responses/400"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"405":{"$ref":"#/components/responses/405"},"412":{"$ref":"#/components/responses/412"},"500":{"$ref":"#/components/responses/500"},"501":{"$ref":"#/components/responses/501"},"503":{"$ref":"#/components/responses/503"},"504":{"$ref":"#/components/responses/504"}}},"parameters":[{"name":"RequestNo","in":"path","description":"","required":true,"schema":{"maxLength":20,"type":"string","example":"It is a Text"}}]},"/CEmpAdvancesSet(RequestNo='{RequestNo}')/IfsApp.CEmpAdvanceHandling.CEmpAdvances_Cancel":{"post":{"tags":["CEmpAdvancesSet"],"summary":"Invoke action Cancel","description":"","parameters":[{"name":"If-Match","in":"header","description":"E-Tag","required":true,"schema":{"type":"string"}}],"requestBody":{"$ref":"#/components/requestBodies/CancelActionRequest"},"responses":{"204":{"$ref":"#/components/responses/204"},"400":{"$ref":"#/components/responses/400"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"405":{"$ref":"#/components/responses/405"},"412":{"$ref":"#/components/responses/412"},"500":{"$ref":"#/components/responses/500"},"501":{"$ref":"#/components/responses/501"},"503":{"$ref":"#/components/responses/503"},"504":{"$ref":"#/components/responses/504"}}},"parameters":[{"name":"RequestNo","in":"path","description":"","required":true,"schema":{"maxLength":20,"type":"string","example":"It is a Text"}}]},"/CEmpAdvancesSet(RequestNo='{RequestNo}')/IfsApp.CEmpAdvanceHandling.CEmpAdvances_SetApproved":{"post":{"tags":["CEmpAdvancesSet"],"summary":"Invoke action SetApproved","description":"","parameters":[{"name":"If-Match","in":"header","description":"E-Tag","required":true,"schema":{"type":"string"}}],"requestBody":{"$ref":"#/components/requestBodies/SetApprovedActionRequest"},"responses":{"200":{"$ref":"#/components/responses/SetApprovedActionResponse"},"400":{"$ref":"#/components/responses/400"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"405":{"$ref":"#/components/responses/405"},"412":{"$ref":"#/components/responses/412"},"500":{"$ref":"#/components/responses/500"},"501":{"$ref":"#/components/responses/501"},"503":{"$ref":"#/components/responses/503"},"504":{"$ref":"#/components/responses/504"}}},"parameters":[{"name":"RequestNo","in":"path","description":"","required":true,"schema":{"maxLength":20,"type":"string","example":"It is a Text"}}]},"/CEmpAdvancesSet(RequestNo='{RequestNo}')/IfsApp.CEmpAdvanceHandling.CEmpAdvances_SetReject":{"post":{"tags":["CEmpAdvancesSet"],"summary":"Invoke action SetReject","description":"","parameters":[{"name":"If-Match","in":"header","description":"E-Tag","required":true,"schema":{"type":"string"}}],"requestBody":{"$ref":"#/components/requestBodies/SetRejectActionRequest"},"responses":{"200":{"$ref":"#/components/responses/SetRejectActionResponse"},"400":{"$ref":"#/components/responses/400"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"405":{"$ref":"#/components/responses/405"},"412":{"$ref":"#/components/responses/412"},"500":{"$ref":"#/components/responses/500"},"501":{"$ref":"#/components/responses/501"},"503":{"$ref":"#/components/responses/503"},"504":{"$ref":"#/components/responses/504"}}},"parameters":[{"name":"RequestNo","in":"path","description":"","required":true,"schema":{"maxLength":20,"type":"string","example":"It is a Text"}}]},"/CEmpAdvancesSet(RequestNo='{RequestNo}')/IfsApp.CEmpAdvanceHandling.CEmpAdvances_DefaultCopy(CopyValues=@CopyValues)":{"get":{"tags":["CEmpAdvancesSet"],"summary":"Invoke function DefaultCopy","description":"","parameters":[{"name":"$select","in":"query","description":"Specify properties to return, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_System_Query_Option_3)","explode":false,"schema":{"uniqueItems":true,"type":"array","items":{"type":"string","enum":["luname","keyref","Objstate","RequestNo","Description","RequestDate","RequestType","RequestedBy","CreatedBy","ProjectId","EmpNo","Company","InvCompany","SupplierId","CurrencyCode","Amount","Approver","ApprovedDate","DepartureDate","ReturnDate","Destination","ApproverComment","LoadId","ProjectManager"]}}}],"responses":{"200":{"$ref":"#/components/responses/CEmpAdvancesDefaultCopyFunctionResponse"},"400":{"$ref":"#/components/responses/400"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"405":{"$ref":"#/components/responses/405"},"412":{"$ref":"#/components/responses/412"},"500":{"$ref":"#/components/responses/500"},"501":{"$ref":"#/components/responses/501"},"503":{"$ref":"#/components/responses/503"},"504":{"$ref":"#/components/responses/504"}}},"parameters":[{"name":"@CopyValues","in":"query","description":"","required":true,"schema":{"$ref":"#/components/schemas/CEmpAdvancesCopyValues"}},{"name":"If-Match","in":"header","description":"E-Tag","required":true,"schema":{"type":"string"}},{"name":"RequestNo","in":"path","description":"","required":true,"schema":{"maxLength":20,"type":"string","example":"It is a Text"}}]},"/CEmpAdvancesSet/IfsApp.CEmpAdvanceHandling.CEmpAdvances_DefaultCopy(CopyValues=@CopyValues)":{"get":{"tags":["CEmpAdvancesSet"],"summary":"Invoke function DefaultCopy","description":"","parameters":[{"name":"$select","in":"query","description":"Specify properties to return, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_System_Query_Option_3)","explode":false,"schema":{"uniqueItems":true,"type":"array","items":{"type":"string","enum":["luname","keyref","Objstate","RequestNo","Description","RequestDate","RequestType","RequestedBy","CreatedBy","ProjectId","EmpNo","Company","InvCompany","SupplierId","CurrencyCode","Amount","Approver","ApprovedDate","DepartureDate","ReturnDate","Destination","ApproverComment","LoadId","ProjectManager"]}}}],"responses":{"200":{"$ref":"#/components/responses/CEmpAdvancesDefaultCopyFunctionResponse"},"400":{"$ref":"#/components/responses/400"},"403":{"$ref":"#/components/responses/403"},"405":{"$ref":"#/components/responses/405"},"500":{"$ref":"#/components/responses/500"},"501":{"$ref":"#/components/responses/501"},"503":{"$ref":"#/components/responses/503"},"504":{"$ref":"#/components/responses/504"}}},"parameters":[{"name":"@CopyValues","in":"query","description":"","required":true,"schema":{"$ref":"#/components/schemas/CEmpAdvancesCopyValues"}},{"name":"If-Match","in":"header","description":"E-Tag","required":true,"schema":{"type":"string"}}]},"/CEmpAdvancesSet/IfsApp.CEmpAdvanceHandling.CEmpAdvances_Default()":{"get":{"tags":["CEmpAdvancesSet"],"summary":"Invoke function Default","description":"","parameters":[{"name":"$select","in":"query","description":"Specify properties to return, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_System_Query_Option_3)","explode":false,"schema":{"uniqueItems":true,"type":"array","items":{"type":"string","enum":["luname","keyref","Objstate","RequestNo","Description","RequestDate","RequestType","RequestedBy","CreatedBy","ProjectId","EmpNo","Company","InvCompany","SupplierId","CurrencyCode","Amount","Approver","ApprovedDate","DepartureDate","ReturnDate","Destination","ApproverComment","LoadId","ProjectManager"]}}}],"responses":{"200":{"$ref":"#/components/responses/CEmpAdvancesResponse"},"400":{"$ref":"#/components/responses/400"},"403":{"$ref":"#/components/responses/403"},"405":{"$ref":"#/components/responses/405"},"500":{"$ref":"#/components/responses/500"},"501":{"$ref":"#/components/responses/501"},"503":{"$ref":"#/components/responses/503"},"504":{"$ref":"#/components/responses/504"}}},"parameters":[{"name":"If-Match","in":"header","description":"E-Tag","required":true,"schema":{"type":"string"}}]},"/CEmpAdvancesSet(RequestNo='{RequestNo}')/DestinationRef":{"get":{"tags":["CEmpAdvancesSet"],"summary":"Get entities from DestinationRef","parameters":[{"$ref":"#/components/parameters/top"},{"$ref":"#/components/parameters/skip"},{"$ref":"#/components/parameters/count"},{"name":"$filter","in":"query","description":"Filter items by property values, see [OData Filtering](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_The_$filter_System)","schema":{"type":"string"}},{"name":"$orderby","in":"query","description":"Order items by property values, see [OData Sorting](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_The_$select_System_1)","explode":false,"schema":{"uniqueItems":true,"type":"array","items":{"type":"string","enum":["CountryCode","CountryCode desc","StateCode","StateCode desc","CountyCode","CountyCode desc","CityCode","CityCode desc","CityName","CityName desc","DestinationCode","DestinationCode desc","DestinationDesc","DestinationDesc desc"]}}},{"name":"$select","in":"query","description":"Specify properties to return, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_System_Query_Option_3)","explode":false,"schema":{"uniqueItems":true,"type":"array","items":{"type":"string","enum":["luname","keyref","CountryCode","StateCode","CountyCode","CityCode","CityName","DestinationCode","DestinationDesc"]}}}],"responses":{"200":{"$ref":"#/components/responses/CityCodearrayResponse"},"403":{"$ref":"#/components/responses/403"},"405":{"$ref":"#/components/responses/405"},"500":{"$ref":"#/components/responses/500"},"501":{"$ref":"#/components/responses/501"},"503":{"$ref":"#/components/responses/503"},"504":{"$ref":"#/components/responses/504"}}},"parameters":[{"name":"RequestNo","in":"path","description":"","required":true,"schema":{"maxLength":20,"type":"string","example":"It is a Text"}}]},"/CityCodeSet":{"get":{"tags":["CityCodeSet"],"summary":"Get entities from CityCodeSet","parameters":[{"$ref":"#/components/parameters/top"},{"$ref":"#/components/parameters/skip"},{"$ref":"#/components/parameters/count"},{"name":"$filter","in":"query","description":"Filter items by property values, see [OData Filtering](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_The_$filter_System)","schema":{"type":"string"}},{"name":"$orderby","in":"query","description":"Order items by property values, see [OData Sorting](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_The_$select_System_1)","explode":false,"schema":{"uniqueItems":true,"type":"array","items":{"type":"string","enum":["CountryCode","CountryCode desc","StateCode","StateCode desc","CountyCode","CountyCode desc","CityCode","CityCode desc","CityName","CityName desc","DestinationCode","DestinationCode desc","DestinationDesc","DestinationDesc desc"]}}},{"name":"$select","in":"query","description":"Specify properties to return, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_System_Query_Option_3)","explode":false,"schema":{"uniqueItems":true,"type":"array","items":{"type":"string","enum":["luname","keyref","CountryCode","StateCode","CountyCode","CityCode","CityName","DestinationCode","DestinationDesc"]}}}],"responses":{"200":{"$ref":"#/components/responses/CityCodearrayResponse"},"403":{"$ref":"#/components/responses/403"},"405":{"$ref":"#/components/responses/405"},"500":{"$ref":"#/components/responses/500"},"501":{"$ref":"#/components/responses/501"},"503":{"$ref":"#/components/responses/503"},"504":{"$ref":"#/components/responses/504"}}}},"/CityCodeSet(CountryCode='{CountryCode}',StateCode='{StateCode}',CountyCode='{CountyCode}',CityCode='{CityCode}')":{"get":{"tags":["CityCodeSet"],"summary":"Get entity from CityCodeSet by key","parameters":[{"name":"$select","in":"query","description":"Specify properties to return, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_System_Query_Option_3)","explode":false,"schema":{"uniqueItems":true,"type":"array","items":{"type":"string","enum":["luname","keyref","CountryCode","StateCode","CountyCode","CityCode","CityName","DestinationCode","DestinationDesc"]}}}],"responses":{"200":{"$ref":"#/components/responses/CityCodeResponse"},"400":{"$ref":"#/components/responses/400"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"405":{"$ref":"#/components/responses/405"},"500":{"$ref":"#/components/responses/500"},"501":{"$ref":"#/components/responses/501"},"503":{"$ref":"#/components/responses/503"},"504":{"$ref":"#/components/responses/504"}}},"parameters":[{"name":"CountryCode","in":"path","description":"","required":true,"schema":{"maxLength":2,"type":"string","example":"It is a Text"}},{"name":"StateCode","in":"path","description":"","required":true,"schema":{"maxLength":35,"type":"string","example":"It is a Text"}},{"name":"CountyCode","in":"path","description":"","required":true,"schema":{"maxLength":35,"type":"string","example":"It is a Text"}},{"name":"CityCode","in":"path","description":"","required":true,"schema":{"maxLength":35,"type":"string","example":"It is a Text"}}]},"/GetYourRequests(PersonId='{PersonId}')":{"get":{"tags":["Service Operations - Functions"],"summary":"Invoke function GetYourRequests","description":"","parameters":[{"$ref":"#/components/parameters/top"},{"$ref":"#/components/parameters/skip"},{"$ref":"#/components/parameters/count"},{"name":"$filter","in":"query","description":"Filter items by property values, see [OData Filtering](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_The_$filter_System)","schema":{"type":"string"}},{"name":"$orderby","in":"query","description":"Order items by property values, see [OData Sorting](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_The_$select_System_1)","explode":false,"schema":{"uniqueItems":true,"type":"array","items":{"type":"string","enum":["RequestNo","RequestNo desc","Description","Description desc","Company","Company desc","InvCompany","InvCompany desc","RequestDate","RequestDate desc","RequestedBy","RequestedBy desc","CreatedBy","CreatedBy desc","LoadId","LoadId desc","RequesterName","RequesterName desc","CreatorName","CreatorName desc","PrepaymentType","PrepaymentType desc","ProjectId","ProjectId desc","EmpNo","EmpNo desc","SupplierId","SupplierId desc","CompanyName","CompanyName desc","CurrencyCode","CurrencyCode desc","Amount","Amount desc","ApproverId","ApproverId desc","ApproverName","ApproverName desc","ApprovedDate","ApprovedDate desc","State","State desc","Objstate","Objstate desc","InvoiceId","InvoiceId desc","InvoiceNo","InvoiceNo desc","InvoiceDate","InvoiceDate desc","NcfReference","NcfReference desc","EmployeeName","EmployeeName desc","Creator","Creator desc","InvObjstate","InvObjstate desc","InvState","InvState desc","RequestType","RequestType desc","SeriesId","SeriesId desc","InvoiceType","InvoiceType desc","DepartureDate","DepartureDate desc","ReturnDate","ReturnDate desc","Destination","Destination desc","PaymentStatus","PaymentStatus desc","ApproverComment","ApproverComment desc","DeliveryDate","DeliveryDate desc"]}}},{"name":"$select","in":"query","description":"Specify properties to return, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_System_Query_Option_3)","explode":false,"schema":{"uniqueItems":true,"type":"array","items":{"type":"string","enum":["luname","keyref","RequestNo","Description","Company","InvCompany","RequestDate","RequestedBy","CreatedBy","LoadId","RequesterName","CreatorName","PrepaymentType","ProjectId","EmpNo","SupplierId","CompanyName","CurrencyCode","Amount","ApproverId","ApproverName","ApprovedDate","State","Objstate","InvoiceId","InvoiceNo","InvoiceDate","NcfReference","EmployeeName","Creator","InvObjstate","InvState","RequestType","SeriesId","InvoiceType","DepartureDate","ReturnDate","Destination","PaymentStatus","ApproverComment","DeliveryDate"]}}},{"name":"$expand","in":"query","description":"Expand related entities, see [OData Expand](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_System_Query_Option_6)","explode":false,"schema":{"uniqueItems":true,"type":"array","items":{"type":"string","enum":["DestinationRef"]}}}],"responses":{"200":{"$ref":"#/components/responses/GetYourRequestsFunctionImportResponse"},"400":{"$ref":"#/components/responses/400"},"403":{"$ref":"#/components/responses/403"},"405":{"$ref":"#/components/responses/405"},"500":{"$ref":"#/components/responses/500"},"501":{"$ref":"#/components/responses/501"},"503":{"$ref":"#/components/responses/503"},"504":{"$ref":"#/components/responses/504"}}},"parameters":[{"name":"PersonId","in":"path","description":"","required":true,"schema":{"type":"string","example":"It is a Text"}}]},"/GetRequestsForApproval(PersonId='{PersonId}')":{"get":{"tags":["Service Operations - Functions"],"summary":"Invoke function GetRequestsForApproval","description":"","parameters":[{"$ref":"#/components/parameters/top"},{"$ref":"#/components/parameters/skip"},{"$ref":"#/components/parameters/count"},{"name":"$filter","in":"query","description":"Filter items by property values, see [OData Filtering](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_The_$filter_System)","schema":{"type":"string"}},{"name":"$orderby","in":"query","description":"Order items by property values, see [OData Sorting](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_The_$select_System_1)","explode":false,"schema":{"uniqueItems":true,"type":"array","items":{"type":"string","enum":["RequestNo","RequestNo desc","Description","Description desc","Company","Company desc","InvCompany","InvCompany desc","RequestDate","RequestDate desc","RequestedBy","RequestedBy desc","CreatedBy","CreatedBy desc","LoadId","LoadId desc","RequesterName","RequesterName desc","CreatorName","CreatorName desc","PrepaymentType","PrepaymentType desc","ProjectId","ProjectId desc","EmpNo","EmpNo desc","SupplierId","SupplierId desc","CompanyName","CompanyName desc","CurrencyCode","CurrencyCode desc","Amount","Amount desc","ApproverId","ApproverId desc","ApproverName","ApproverName desc","ApprovedDate","ApprovedDate desc","State","State desc","Objstate","Objstate desc","InvoiceId","InvoiceId desc","InvoiceNo","InvoiceNo desc","InvoiceDate","InvoiceDate desc","NcfReference","NcfReference desc","EmployeeName","EmployeeName desc","Creator","Creator desc","InvObjstate","InvObjstate desc","InvState","InvState desc","RequestType","RequestType desc","SeriesId","SeriesId desc","InvoiceType","InvoiceType desc","DepartureDate","DepartureDate desc","ReturnDate","ReturnDate desc","Destination","Destination desc","PaymentStatus","PaymentStatus desc","ApproverComment","ApproverComment desc","DeliveryDate","DeliveryDate desc"]}}},{"name":"$select","in":"query","description":"Specify properties to return, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_System_Query_Option_3)","explode":false,"schema":{"uniqueItems":true,"type":"array","items":{"type":"string","enum":["luname","keyref","RequestNo","Description","Company","InvCompany","RequestDate","RequestedBy","CreatedBy","LoadId","RequesterName","CreatorName","PrepaymentType","ProjectId","EmpNo","SupplierId","CompanyName","CurrencyCode","Amount","ApproverId","ApproverName","ApprovedDate","State","Objstate","InvoiceId","InvoiceNo","InvoiceDate","NcfReference","EmployeeName","Creator","InvObjstate","InvState","RequestType","SeriesId","InvoiceType","DepartureDate","ReturnDate","Destination","PaymentStatus","ApproverComment","DeliveryDate"]}}},{"name":"$expand","in":"query","description":"Expand related entities, see [OData Expand](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_System_Query_Option_6)","explode":false,"schema":{"uniqueItems":true,"type":"array","items":{"type":"string","enum":["DestinationRef"]}}}],"responses":{"200":{"$ref":"#/components/responses/GetRequestsForApprovalFunctionImportResponse"},"400":{"$ref":"#/components/responses/400"},"403":{"$ref":"#/components/responses/403"},"405":{"$ref":"#/components/responses/405"},"500":{"$ref":"#/components/responses/500"},"501":{"$ref":"#/components/responses/501"},"503":{"$ref":"#/components/responses/503"},"504":{"$ref":"#/components/responses/504"}}},"parameters":[{"name":"PersonId","in":"path","description":"","required":true,"schema":{"type":"string","example":"It is a Text"}}]}},"components":{"schemas":{"CityCode":{"type":"object","properties":{"@odata.etag":{"maxLength":128,"type":"string","description":"","example":"It is a Text"},"luname":{"maxLength":80,"type":"string","description":"","example":"It is a Text"},"keyref":{"maxLength":4000,"type":"string","description":"","example":"It is a Text"},"Objgrants":{"maxLength":2000,"type":"string","description":"","example":"It is a Text"},"CountryCode":{"maxLength":2,"type":"string","description":"","example":"It is a Text"},"StateCode":{"maxLength":35,"type":"string","description":"","example":"It is a Text"},"CountyCode":{"maxLength":35,"type":"string","description":"","example":"It is a Text"},"CityCode":{"maxLength":35,"type":"string","description":"","example":"It is a Text"},"CityName":{"maxLength":35,"type":"string","description":"","example":"It is a Text"},"DestinationCode":{"maxLength":4000,"type":"string","description":"Note: The maxLength may be lesser depending on the character set","example":"It is a Text"},"DestinationDesc":{"maxLength":4000,"type":"string","description":"Note: The maxLength may be lesser depending on the character set","example":"It is a Text"}}},"GetRequestsForApprovalFunctionImport":{"required":["PersonId"],"type":"object","properties":{"PersonId":{"type":"string","example":"It is a Text"}}},"StreamInfoRec":{"required":["FileName","MimeType"],"type":"object","properties":{"FileName":{"type":"string","example":"It is a Text"},"MimeType":{"type":"string","example":"It is a Text"}},"description":""},"CEmpAdvancesDefaultCopy":{"title":"CEmpAdvances for default copy","type":"object","properties":{"luname":{"maxLength":80,"type":"string","description":"","example":"It is a Text"},"keyref":{"maxLength":4000,"type":"string","description":"","example":"It is a Text"},"Description":{"maxLength":100,"type":"string","description":"","example":"It is a Text"},"RequestType":{"$ref":"#/components/schemas/IfsApp.CEmpAdvanceHandling.CRequestType"},"CreatedBy":{"maxLength":20,"type":"string","description":"","example":"It is a Text"},"ProjectId":{"maxLength":10,"type":"string","description":"","example":"It is a Text"},"EmpNo":{"maxLength":10,"type":"string","description":"","example":"It is a Text"},"Company":{"maxLength":20,"type":"string","description":"","example":"It is a Text"},"InvCompany":{"maxLength":20,"type":"string","description":"","example":"It is a Text"},"SupplierId":{"maxLength":20,"type":"string","description":"","example":"It is a Text"},"CurrencyCode":{"maxLength":3,"type":"string","description":"","example":"It is a Text"},"Amount":{"type":"number","description":"","example":1.0},"DepartureDate":{"type":"string","description":"","format":"date","example":"2019-10-10"},"ReturnDate":{"type":"string","description":"","format":"date","example":"2019-10-10"},"Destination":{"maxLength":20,"type":"string","description":"","example":"It is a Text"},"ProjectManager":{"maxLength":4000,"type":"string","description":"Note: The maxLength may be lesser depending on the character set","example":"It is a Text"},"Objstate":{"$ref":"#/components/schemas/IfsApp.CEmpAdvanceHandling.CEmpAdvancesState"}}},"CancelAction":{"type":"object","properties":{}},"CityCodeCopyValues":{"type":"object","properties":{"ParentSource":{"$ref":"#/components/schemas/CityCodeCopyValuesStructure"},"ModifiedSource":{"$ref":"#/components/schemas/CityCodeCopyValuesStructure"}},"description":""},"CEmpAdvances-Update":{"title":"CEmpAdvances for create","type":"object","properties":{"ProjectManager":{"maxLength":4000,"type":"string","description":"Note: The maxLength may be lesser depending on the character set","example":"It is a Text"}}},"CEmpAdvances-Insert":{"title":"CEmpAdvances for insert","required":["Amount","Company","CreatedBy","CurrencyCode","Description","EmpNo","InvCompany","ProjectId","RequestType","SupplierId"],"type":"object","properties":{"Description":{"maxLength":100,"type":"string","description":"","example":"It is a Text"},"RequestType":{"$ref":"#/components/schemas/IfsApp.CEmpAdvanceHandling.CRequestType"},"CreatedBy":{"maxLength":20,"type":"string","description":"","example":"It is a Text"},"ProjectId":{"maxLength":10,"type":"string","description":"","example":"It is a Text"},"EmpNo":{"maxLength":10,"type":"string","description":"","example":"It is a Text"},"Company":{"maxLength":20,"type":"string","description":"","example":"It is a Text"},"InvCompany":{"maxLength":20,"type":"string","description":"","example":"It is a Text"},"SupplierId":{"maxLength":20,"type":"string","description":"","example":"It is a Text"},"CurrencyCode":{"maxLength":3,"type":"string","description":"","example":"It is a Text"},"Amount":{"type":"number","description":"","example":1.0},"DepartureDate":{"type":"string","description":"","format":"date","example":"2019-10-10"},"ReturnDate":{"type":"string","description":"","format":"date","example":"2019-10-10"},"Destination":{"maxLength":20,"type":"string","description":"","example":"It is a Text"},"ProjectManager":{"maxLength":4000,"type":"string","description":"Note: The maxLength may be lesser depending on the character set","example":"It is a Text"}}},"GetYourRequestsFunctionImport":{"required":["PersonId"],"type":"object","properties":{"PersonId":{"type":"string","example":"It is a Text"}}},"ConfigEntityDec":{"required":["@odata.etag","Info","Attr"],"type":"object","properties":{"@odata.etag":{"type":"string","example":"It is a Text"},"Info":{"type":"string","example":"It is a Text"},"Attr":{"type":"string","example":"It is a Text"}}},"CEmpAdvances":{"type":"object","properties":{"@odata.etag":{"maxLength":128,"type":"string","description":"","example":"It is a Text"},"luname":{"maxLength":80,"type":"string","description":"","example":"It is a Text"},"keyref":{"maxLength":4000,"type":"string","description":"","example":"It is a Text"},"Objgrants":{"maxLength":2000,"type":"string","description":"","example":"It is a Text"},"RequestNo":{"maxLength":20,"type":"string","description":"","example":"It is a Text"},"Description":{"maxLength":100,"type":"string","description":"","example":"It is a Text"},"RequestDate":{"type":"string","description":"","format":"date","example":"2019-10-10"},"RequestedBy":{"maxLength":20,"type":"string","description":"","example":"It is a Text"},"CreatedBy":{"maxLength":20,"type":"string","description":"","example":"It is a Text"},"ProjectId":{"maxLength":10,"type":"string","description":"","example":"It is a Text"},"EmpNo":{"maxLength":10,"type":"string","description":"","example":"It is a Text"},"Company":{"maxLength":20,"type":"string","description":"","example":"It is a Text"},"InvCompany":{"maxLength":20,"type":"string","description":"","example":"It is a Text"},"SupplierId":{"maxLength":20,"type":"string","description":"","example":"It is a Text"},"CurrencyCode":{"maxLength":3,"type":"string","description":"","example":"It is a Text"},"Amount":{"type":"number","description":"","example":1.0},"Approver":{"maxLength":20,"type":"string","description":"","example":"It is a Text"},"ApprovedDate":{"type":"string","description":"","format":"date","example":"2019-10-10"},"DepartureDate":{"type":"string","description":"","format":"date","example":"2019-10-10"},"ReturnDate":{"type":"string","description":"","format":"date","example":"2019-10-10"},"Destination":{"maxLength":20,"type":"string","description":"","example":"It is a Text"},"ApproverComment":{"maxLength":200,"type":"string","description":"","example":"It is a Text"},"LoadId":{"type":"number","description":"","example":1.0},"ProjectManager":{"maxLength":4000,"type":"string","description":"Note: The maxLength may be lesser depending on the character set","example":"It is a Text"},"Objstate":{"$ref":"#/components/schemas/IfsApp.CEmpAdvanceHandling.CEmpAdvancesState"},"RequestType":{"$ref":"#/components/schemas/IfsApp.CEmpAdvanceHandling.CRequestType"}}},"CEmpAdvanceQuery":{"type":"object","properties":{"luname":{"maxLength":80,"type":"string","description":"","example":"It is a Text"},"keyref":{"maxLength":4000,"type":"string","description":"","example":"It is a Text"},"RequestNo":{"maxLength":4000,"type":"string","description":"Note: The maxLength may be lesser depending on the character set","example":"It is a Text"},"Description":{"maxLength":4000,"type":"string","description":"Note: The maxLength may be lesser depending on the character set","example":"It is a Text"},"Company":{"maxLength":4000,"type":"string","description":"Note: The maxLength may be lesser depending on the character set","example":"It is a Text"},"InvCompany":{"maxLength":4000,"type":"string","description":"Note: The maxLength may be lesser depending on the character set","example":"It is a Text"},"RequestDate":{"type":"string","description":"","format":"date","example":"2019-10-10"},"RequestedBy":{"maxLength":4000,"type":"string","description":"Note: The maxLength may be lesser depending on the character set","example":"It is a Text"},"CreatedBy":{"maxLength":4000,"type":"string","description":"Note: The maxLength may be lesser depending on the character set","example":"It is a Text"},"LoadId":{"type":"number","description":"","example":1.0},"RequesterName":{"maxLength":4000,"type":"string","description":"Note: The maxLength may be lesser depending on the character set","example":"It is a Text"},"CreatorName":{"maxLength":4000,"type":"string","description":"Note: The maxLength may be lesser depending on the character set","example":"It is a Text"},"PrepaymentType":{"maxLength":4000,"type":"string","description":"Note: The maxLength may be lesser depending on the character set","example":"It is a Text"},"ProjectId":{"maxLength":4000,"type":"string","description":"Note: The maxLength may be lesser depending on the character set","example":"It is a Text"},"EmpNo":{"maxLength":4000,"type":"string","description":"Note: The maxLength may be lesser depending on the character set","example":"It is a Text"},"SupplierId":{"maxLength":4000,"type":"string","description":"Note: The maxLength may be lesser depending on the character set","example":"It is a Text"},"CompanyName":{"maxLength":4000,"type":"string","description":"Note: The maxLength may be lesser depending on the character set","example":"It is a Text"},"CurrencyCode":{"maxLength":4000,"type":"string","description":"Note: The maxLength may be lesser depending on the character set","example":"It is a Text"},"Amount":{"type":"number","description":"","example":1.0},"ApproverId":{"maxLength":4000,"type":"string","description":"Note: The maxLength may be lesser depending on the character set","example":"It is a Text"},"ApproverName":{"maxLength":4000,"type":"string","description":"Note: The maxLength may be lesser depending on the character set","example":"It is a Text"},"ApprovedDate":{"type":"string","description":"","format":"date","example":"2019-10-10"},"State":{"maxLength":4000,"type":"string","description":"Note: The maxLength may be lesser depending on the character set","example":"It is a Text"},"InvoiceId":{"type":"number","description":"","example":1.0},"InvoiceNo":{"maxLength":4000,"type":"string","description":"Note: The maxLength may be lesser depending on the character set","example":"It is a Text"},"InvoiceDate":{"type":"string","description":"","format":"date","example":"2019-10-10"},"NcfReference":{"maxLength":4000,"type":"string","description":"Note: The maxLength may be lesser depending on the character set","example":"It is a Text"},"EmployeeName":{"maxLength":4000,"type":"string","description":"Note: The maxLength may be lesser depending on the character set","example":"It is a Text"},"Creator":{"maxLength":4000,"type":"string","description":"Note: The maxLength may be lesser depending on the character set","example":"It is a Text"},"InvObjstate":{"maxLength":4000,"type":"string","description":"Note: The maxLength may be lesser depending on the character set","example":"It is a Text"},"InvState":{"maxLength":4000,"type":"string","description":"Note: The maxLength may be lesser depending on the character set","example":"It is a Text"},"RequestType":{"maxLength":4000,"type":"string","description":"Note: The maxLength may be lesser depending on the character set","example":"It is a Text"},"SeriesId":{"maxLength":4000,"type":"string","description":"Note: The maxLength may be lesser depending on the character set","example":"It is a Text"},"InvoiceType":{"maxLength":4000,"type":"string","description":"Note: The maxLength may be lesser depending on the character set","example":"It is a Text"},"DepartureDate":{"type":"string","description":"","format":"date","example":"2019-10-10"},"ReturnDate":{"type":"string","description":"","format":"date","example":"2019-10-10"},"Destination":{"maxLength":4000,"type":"string","description":"Note: The maxLength may be lesser depending on the character set","example":"It is a Text"},"PaymentStatus":{"maxLength":4000,"type":"string","description":"Note: The maxLength may be lesser depending on the character set","example":"It is a Text"},"ApproverComment":{"maxLength":4000,"type":"string","description":"Note: The maxLength may be lesser depending on the character set","example":"It is a Text"},"DeliveryDate":{"type":"string","description":"","format":"date","example":"2019-10-10"},"Objstate":{"$ref":"#/components/schemas/IfsApp.CEmpAdvanceHandling.CEmpAdvancesState"}}},"RejectAction":{"type":"object","properties":{}},"SetApprovedAction":{"type":"object","properties":{"Approver":{"type":"string","description":"","example":"It is a Text"},"ApproverComment":{"type":"string","description":"","example":"It is a Text"}}},"CEmpAdvanceQuery-Update":{"title":"CEmpAdvanceQuery for create","type":"object","properties":{}},"SetRejectAction":{"type":"object","properties":{"Approver":{"type":"string","description":"","example":"It is a Text"},"ApproverComment":{"type":"string","description":"","example":"It is a Text"}}},"CityCodeCopyValuesStructure":{"$ref":"#/components/schemas/CityCode"},"IfsApp.CEmpAdvanceHandling.CRequestType":{"type":"string","enum":["Expenses","Travel"]},"CityCode-Update":{"title":"CityCode for create","required":["CityName"],"type":"object","properties":{"CityName":{"maxLength":35,"type":"string","description":"","example":"It is a Text"},"DestinationCode":{"maxLength":4000,"type":"string","description":"Note: The maxLength may be lesser depending on the character set","example":"It is a Text"},"DestinationDesc":{"maxLength":4000,"type":"string","description":"Note: The maxLength may be lesser depending on the character set","example":"It is a Text"}}},"CityCode-Insert":{"title":"CityCode for insert","required":["CityCode","CityName","CountryCode","CountyCode","StateCode"],"type":"object","properties":{"CountryCode":{"maxLength":2,"type":"string","description":"","example":"It is a Text"},"StateCode":{"maxLength":35,"type":"string","description":"","example":"It is a Text"},"CountyCode":{"maxLength":35,"type":"string","description":"","example":"It is a Text"},"CityCode":{"maxLength":35,"type":"string","description":"","example":"It is a Text"},"CityName":{"maxLength":35,"type":"string","description":"","example":"It is a Text"},"DestinationCode":{"maxLength":4000,"type":"string","description":"Note: The maxLength may be lesser depending on the character set","example":"It is a Text"},"DestinationDesc":{"maxLength":4000,"type":"string","description":"Note: The maxLength may be lesser depending on the character set","example":"It is a Text"}}},"ApproveAction":{"type":"object","properties":{}},"SetApprovedActionResponse":{"type":"object","properties":{"value":{"type":"string","example":"It is a Text"}}},"CEmpAdvances-DefaultCopy":{"type":"object","properties":{"CopyValues":{"$ref":"#/components/schemas/CEmpAdvancesCopyValues"}}},"SetRejectActionResponse":{"type":"object","properties":{"value":{"type":"string","example":"It is a Text"}}},"CEmpAdvancesCopyValuesStructure":{"$ref":"#/components/schemas/CEmpAdvances"},"IfsApp.CEmpAdvanceHandling.CEmpAdvancesState":{"type":"string","enum":["Released","Approved","Rejected","Cancelled"]},"CEmpAdvancesCopyValues":{"type":"object","properties":{"ParentSource":{"$ref":"#/components/schemas/CEmpAdvancesCopyValuesStructure"},"ModifiedSource":{"$ref":"#/components/schemas/CEmpAdvancesCopyValuesStructure"}},"description":""},"EntityDec":{"required":["@odata.etag","Info","Attr"],"type":"object","properties":{"@odata.etag":{"type":"string","example":"It is a Text"},"Info":{"type":"string","example":"It is a Text"},"Attr":{"type":"string","example":"It is a Text"}},"description":""},"CEmpAdvanceQuery-Insert":{"title":"CEmpAdvanceQuery for insert","type":"object","properties":{}}},"responses":{"CEmpAdvanceQueryResponse":{"description":"response body for entity type CEmpAdvanceQuery","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CEmpAdvanceQuery"}}}},"CityCodeCopyValuesStructureResponse":{"description":"response body for structure ","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CityCodeCopyValuesStructure"}}}},"IfsApp.CEmpAdvanceHandling.CRequestTypeResponse":{"description":"response body for Enumeration IfsApp.CEmpAdvanceHandling.CRequestType","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IfsApp.CEmpAdvanceHandling.CRequestType"}}}},"CEmpAdvancesCopyValuesResponse":{"description":"response body for structure ","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CEmpAdvancesCopyValues"}}}},"CityCodeCopyValuesResponse":{"description":"response body for structure ","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CityCodeCopyValues"}}}},"StreamInfoRecResponse":{"description":"response body for structure ","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StreamInfoRec"}}}},"ConfigEntityDecResponse":{"description":"response body for structure ","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConfigEntityDec"}}}},"EntityDecResponse":{"description":"response body for structure ","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EntityDec"}}}},"CEmpAdvancesResponse":{"description":"response body for entity type CEmpAdvances","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CEmpAdvances"}}}},"IfsApp.CEmpAdvanceHandling.CEmpAdvancesStateResponse":{"description":"response body for Enumeration IfsApp.CEmpAdvanceHandling.CEmpAdvancesState","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IfsApp.CEmpAdvanceHandling.CEmpAdvancesState"}}}},"412":{"description":"Precondition Failed","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"details":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"}}}}}}}}}}},"CEmpAdvancesarrayResponse":{"description":"response body for entity array CEmpAdvances","content":{"application/json":{"schema":{"type":"object","properties":{"value":{"type":"array","items":{"$ref":"#/components/schemas/CEmpAdvances"}}}}}}},"CEmpAdvancesDefaultCopyFunctionResponse":{"description":"response body for function DefaultCopy : ","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CEmpAdvances"}}}},"SetApprovedActionResponse":{"description":"response body for action SetApproved : ","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SetApprovedActionResponse"}}}},"GetRequestsForApprovalFunctionImportResponse":{"description":"response body for function GetRequestsForApproval : ","content":{"application/json":{"schema":{"type":"object","properties":{"value":{"type":"array","items":{"$ref":"#/components/schemas/CEmpAdvanceQuery"}}}}}}},"SetRejectActionResponse":{"description":"response body for action SetReject : ","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SetRejectActionResponse"}}}},"DefaultFunctionResponse":{"description":"response body for function Default : ","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CEmpAdvances"}}}},"CityCodearrayResponse":{"description":"response body for entity array CityCode","content":{"application/json":{"schema":{"type":"object","properties":{"value":{"type":"array","items":{"$ref":"#/components/schemas/CityCode"}}}}}}},"CEmpAdvanceQueryarrayResponse":{"description":"response body for entity array CEmpAdvanceQuery","content":{"application/json":{"schema":{"type":"object","properties":{"value":{"type":"array","items":{"$ref":"#/components/schemas/CEmpAdvanceQuery"}}}}}}},"GetYourRequestsFunctionImportResponse":{"description":"response body for function GetYourRequests : ","content":{"application/json":{"schema":{"type":"object","properties":{"value":{"type":"array","items":{"$ref":"#/components/schemas/CEmpAdvanceQuery"}}}}}}},"202":{"description":"Accepted","content":{"text/plain":{"schema":{"type":"string"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"details":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"}}}}}}}}}}},"423":{"description":"Locked","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"details":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"}}}}}}}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"details":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"}}}}}}}}}}},"204":{"description":"No Content"},"501":{"description":"Not Implemented","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"details":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"}}}}}}}}}}},"304":{"description":"Not Modified"},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"internal":{"type":"integer"}}}}}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"details":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"}}}}}}}}}}},"503":{"description":"Service Unavailable","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"details":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"}}}}}}}}}}},"405":{"description":"Invalid input","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"details":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"}}}}}}}}}}},"504":{"description":"Gateway Timeout","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"details":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"}}}}}}}}}}},"CEmpAdvancesCopyValuesStructureResponse":{"description":"response body for structure ","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CEmpAdvancesCopyValuesStructure"}}}},"CityCodeResponse":{"description":"response body for entity type CityCode","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CityCode"}}}}},"parameters":{"search":{"name":"$search","in":"query","description":"Search items by search phrases, see [OData Searching](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_The_$format_System)","schema":{"type":"string"}},"top":{"name":"$top","in":"query","description":"Show only the first n items, see [OData Paging - Top](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_The_$top_System_1)","schema":{"minimum":0,"type":"integer"},"example":50},"count":{"name":"$count","in":"query","description":"Include count of items, see [OData Count](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_The_$inlinecount_System)","schema":{"type":"boolean"}},"skip":{"name":"$skip","in":"query","description":"Skip the first n items, see [OData Paging - Skip](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_The_$skip_System)","schema":{"minimum":0,"type":"integer"}}},"requestBodies":{"CEmpAdvancesCopyValuesRequest":{"description":"request body for structure ","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CEmpAdvancesCopyValues"}}}},"IfsApp.CEmpAdvanceHandling.CEmpAdvancesStateRequest":{"description":"request body for Enumeration IfsApp.CEmpAdvanceHandling.CEmpAdvancesState","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IfsApp.CEmpAdvanceHandling.CEmpAdvancesState"}}}},"IfsApp.CEmpAdvanceHandling.CRequestTypeRequest":{"description":"request body for Enumeration IfsApp.CEmpAdvanceHandling.CRequestType","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IfsApp.CEmpAdvanceHandling.CRequestType"}}}},"CityCode-UpdateRequest":{"description":"request body for updating entity type CityCode","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CityCode-Update"}}}},"ConfigEntityDecRequest":{"description":"request body for structure ","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConfigEntityDec"}}}},"CityCodeRequest":{"description":"request body for entity type CityCode","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CityCode"}}}},"StreamInfoRecRequest":{"description":"request body for structure ","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StreamInfoRec"}}}},"EntityDecRequest":{"description":"request body for structure ","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EntityDec"}}}},"CEmpAdvances-DefaultCopyRequest":{"description":"request body for function CEmpAdvances-DefaultCopy","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CEmpAdvances-DefaultCopy"}}}},"CEmpAdvanceQuery-InsertRequest":{"description":"request body for inserting entity type CEmpAdvanceQuery","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CEmpAdvanceQuery-Insert"}}}},"CEmpAdvanceQuery-UpdateRequest":{"description":"request body for updating entity type CEmpAdvanceQuery","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CEmpAdvanceQuery-Update"}}}},"CEmpAdvanceQueryRequest":{"description":"request body for entity type CEmpAdvanceQuery","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CEmpAdvanceQuery"}}}},"CEmpAdvancesCopyValuesStructureRequest":{"description":"request body for structure ","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CEmpAdvancesCopyValuesStructure"}}}},"ApproveActionRequest":{"description":"request body for action ApproveAction","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApproveAction"}}}},"CityCode-InsertRequest":{"description":"request body for inserting entity type CityCode","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CityCode-Insert"}}}},"SetRejectActionRequest":{"description":"request body for action SetRejectAction","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SetRejectAction"}}}},"CEmpAdvancesRequest":{"description":"request body for entity type CEmpAdvances","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CEmpAdvances"}}}},"CancelActionRequest":{"description":"request body for action CancelAction","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CancelAction"}}}},"RejectActionRequest":{"description":"request body for action RejectAction","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RejectAction"}}}},"GetYourRequestsFunctionImportRequest":{"description":"request body for function GetYourRequestsFunctionImport","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetYourRequestsFunctionImport"}}}},"CEmpAdvances-UpdateRequest":{"description":"request body for updating entity type CEmpAdvances","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CEmpAdvances-Update"}}}},"SetApprovedActionRequest":{"description":"request body for action SetApprovedAction","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SetApprovedAction"}}}},"CEmpAdvances-InsertRequest":{"description":"request body for inserting entity type CEmpAdvances","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CEmpAdvances-Insert"}}}},"CityCodeCopyValuesRequest":{"description":"request body for structure ","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CityCodeCopyValues"}}}},"GetRequestsForApprovalFunctionImportRequest":{"description":"request body for function GetRequestsForApprovalFunctionImport","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetRequestsForApprovalFunctionImport"}}}},"CityCodeCopyValuesStructureRequest":{"description":"request body for structure ","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CityCodeCopyValuesStructure"}}}}},"securitySchemes":{"basicAuth":{"type":"http","description":"Note that Basic Authentication is disabled by default","scheme":"basic"},"OpenId":{"type":"openIdConnect","openIdConnectUrl":"https://hmvdev.ifs360.cloud/auth/realms/hmvdev/.well-known/openid-configuration"}}}}