{
  "openapi": "3.0.1",
  "info": {
    "title": "CEmpPortalServices",
    "description": "**API Class:N/A**\n___\n\n___\n[Terms of Service] (https://docs.ifs.com/policy/APIUsageCloud.pdf)\n",
    "version": "1"
  },
  "servers": [
    {
      "url": "https://hmvdev.ifs360.cloud/int/ifsapplications/projection/v1/CEmpPortalServices.svc",
      "description": "This OData service is located at https://hmvdev.ifs360.cloud/int/ifsapplications/projection/v1/CEmpPortalServices.svc"
    }
  ],
  "security": [
    {
      "OpenId": [],
      "basicAuth": []
    }
  ],
  "tags": [
    {
      "name": "Lookup_IsoCountry_EntitySet",
      "description": ""
    },
    {
      "name": "Lookup_IsoCurrency_EntitySet",
      "description": ""
    },
    {
      "name": "CEmpPortalUserSet",
      "description": ""
    },
    {
      "name": "CompanySet",
      "description": ""
    },
    {
      "name": "Service Operations - Actions",
      "description": "Actions"
    },
    {
      "name": "Service Operations - Functions",
      "description": "Functions"
    },
    {
      "name": "Reference_EmpReportItem",
      "description": "Reference Entity Set Reference_EmpReportItem"
    },
    {
      "name": "Reference_LovReportCostCode",
      "description": "Reference Entity Set Reference_LovReportCostCode"
    },
    {
      "name": "Reference_EmployeeInfoQuery",
      "description": "Reference Entity Set Reference_EmployeeInfoQuery"
    },
    {
      "name": "Reference_CurrencyCodesQuery",
      "description": "Reference Entity Set Reference_CurrencyCodesQuery"
    },
    {
      "name": "Reference_ProjectInfoQuery",
      "description": "Reference Entity Set Reference_ProjectInfoQuery"
    },
    {
      "name": "Reference_Company",
      "description": "Reference Entity Set Reference_Company"
    },
    {
      "name": "Reference_PaymentAddress",
      "description": "Reference Entity Set Reference_PaymentAddress"
    },
    {
      "name": "Reference_Activity",
      "description": "Reference Entity Set Reference_Activity"
    },
    {
      "name": "Reference_ProjectTransaction",
      "description": "Reference Entity Set Reference_ProjectTransaction"
    },
    {
      "name": "Reference_ReportCost",
      "description": "Reference Entity Set Reference_ReportCost"
    }
  ],
  "paths": {
    "/Reference_EmpReportItem": {
      "get": {
        "tags": [
          "Reference_EmpReportItem"
        ],
        "summary": "Get entities from Reference_EmpReportItem",
        "parameters": [
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filter items by property values, see [OData Filtering](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_The_$filter_System)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Order items by property values, see [OData Sorting](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_The_$select_System_1)",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "CompanyId",
                  "CompanyId desc",
                  "EmpNo",
                  "EmpNo desc",
                  "AccountDate",
                  "AccountDate desc",
                  "Module",
                  "Module desc",
                  "ModuleDecoded",
                  "ModuleDecoded desc",
                  "Hours",
                  "Hours desc",
                  "Col2",
                  "Col2 desc",
                  "EmployeeName",
                  "EmployeeName desc",
                  "Objid",
                  "Objid desc",
                  "Objversion",
                  "Objversion desc",
                  "ProjectTransactionSeq",
                  "ProjectTransactionSeq desc",
                  "ActivitySeq",
                  "ActivitySeq desc"
                ]
              }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Specify properties to return, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_System_Query_Option_3)",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "luname",
                  "keyref",
                  "CompanyId",
                  "EmpNo",
                  "AccountDate",
                  "Module",
                  "ModuleDecoded",
                  "Hours",
                  "Col2",
                  "EmployeeName",
                  "Objid",
                  "Objversion",
                  "ProjectTransactionSeq",
                  "ActivitySeq"
                ]
              }
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities, see [OData Expand](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_System_Query_Option_6)",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "ActivityRef",
                  "ProjectTransactionRef",
                  "ReportCostRef"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/EmpReportItemarrayResponse"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "405": {
            "$ref": "#/components/responses/405"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "501": {
            "$ref": "#/components/responses/501"
          },
          "503": {
            "$ref": "#/components/responses/503"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        }
      }
    },
    "/Reference_EmpReportItem(CompanyId='{CompanyId}',EmpNo='{EmpNo}',AccountDate={AccountDate},Module='{Module}',Objid='{Objid}')": {
      "get": {
        "tags": [
          "Reference_EmpReportItem"
        ],
        "summary": "Get entity from Reference_EmpReportItem by key",
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "Specify properties to return, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_System_Query_Option_3)",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "luname",
                  "keyref",
                  "CompanyId",
                  "EmpNo",
                  "AccountDate",
                  "Module",
                  "ModuleDecoded",
                  "Hours",
                  "Col2",
                  "EmployeeName",
                  "Objid",
                  "Objversion",
                  "ProjectTransactionSeq",
                  "ActivitySeq"
                ]
              }
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities, see [OData Expand](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_System_Query_Option_6)",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "ActivityRef",
                  "ProjectTransactionRef",
                  "ReportCostRef"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/EmpReportItemResponse"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "405": {
            "$ref": "#/components/responses/405"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "501": {
            "$ref": "#/components/responses/501"
          },
          "503": {
            "$ref": "#/components/responses/503"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        }
      },
      "parameters": [
        {
          "name": "CompanyId",
          "in": "path",
          "description": "",
          "required": true,
          "schema": {
            "maxLength": 4000,
            "type": "string",
            "example": "It is a Text"
          }
        },
        {
          "name": "EmpNo",
          "in": "path",
          "description": "",
          "required": true,
          "schema": {
            "maxLength": 4000,
            "type": "string",
            "example": "It is a Text"
          }
        },
        {
          "name": "AccountDate",
          "in": "path",
          "description": "",
          "required": true,
          "schema": {
            "type": "string",
            "format": "date",
            "example": "2019-10-10"
          }
        },
        {
          "name": "Module",
          "in": "path",
          "description": "",
          "required": true,
          "schema": {
            "maxLength": 4000,
            "type": "string",
            "example": "It is a Text"
          }
        },
        {
          "name": "Objid",
          "in": "path",
          "description": "",
          "required": true,
          "schema": {
            "maxLength": 4000,
            "type": "string",
            "example": "It is a Text"
          }
        }
      ]
    },
    "/Reference_LovReportCostCode": {
      "get": {
        "tags": [
          "Reference_LovReportCostCode"
        ],
        "summary": "Get entities from Reference_LovReportCostCode",
        "parameters": [
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filter items by property values, see [OData Filtering](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_The_$filter_System)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Order items by property values, see [OData Sorting](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_The_$select_System_1)",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "CompanyId",
                  "CompanyId desc",
                  "ReportCostCode",
                  "ReportCostCode desc",
                  "ReportCostName",
                  "ReportCostName desc",
                  "ValidFrom",
                  "ValidFrom desc",
                  "ValidTo",
                  "ValidTo desc",
                  "ReportCostType",
                  "ReportCostType desc",
                  "ReportCodeGroupId",
                  "ReportCodeGroupId desc",
                  "ReportCodeGroupDesc",
                  "ReportCodeGroupDesc desc",
                  "ReportCode",
                  "ReportCode desc"
                ]
              }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Specify properties to return, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_System_Query_Option_3)",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "luname",
                  "keyref",
                  "CompanyId",
                  "ReportCostCode",
                  "ReportCostName",
                  "ValidFrom",
                  "ValidTo",
                  "ReportCostType",
                  "ReportCodeGroupId",
                  "ReportCodeGroupDesc",
                  "ReportCode"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/LovReportCostCodearrayResponse"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "405": {
            "$ref": "#/components/responses/405"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "501": {
            "$ref": "#/components/responses/501"
          },
          "503": {
            "$ref": "#/components/responses/503"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        }
      }
    },
    "/Reference_LovReportCostCode(CompanyId='{CompanyId}',ReportCostCode='{ReportCostCode}')": {
      "get": {
        "tags": [
          "Reference_LovReportCostCode"
        ],
        "summary": "Get entity from Reference_LovReportCostCode by key",
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "Specify properties to return, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_System_Query_Option_3)",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "luname",
                  "keyref",
                  "CompanyId",
                  "ReportCostCode",
                  "ReportCostName",
                  "ValidFrom",
                  "ValidTo",
                  "ReportCostType",
                  "ReportCodeGroupId",
                  "ReportCodeGroupDesc",
                  "ReportCode"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/LovReportCostCodeResponse"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "405": {
            "$ref": "#/components/responses/405"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "501": {
            "$ref": "#/components/responses/501"
          },
          "503": {
            "$ref": "#/components/responses/503"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        }
      },
      "parameters": [
        {
          "name": "CompanyId",
          "in": "path",
          "description": "",
          "required": true,
          "schema": {
            "maxLength": 4000,
            "type": "string",
            "example": "It is a Text"
          }
        },
        {
          "name": "ReportCostCode",
          "in": "path",
          "description": "",
          "required": true,
          "schema": {
            "maxLength": 4000,
            "type": "string",
            "example": "It is a Text"
          }
        }
      ]
    },
    "/Reference_EmployeeInfoQuery": {
      "get": {
        "tags": [
          "Reference_EmployeeInfoQuery"
        ],
        "summary": "Get entities from Reference_EmployeeInfoQuery",
        "parameters": [
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filter items by property values, see [OData Filtering](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_The_$filter_System)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Order items by property values, see [OData Sorting](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_The_$select_System_1)",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "Company",
                  "Company desc",
                  "Identity",
                  "Identity desc",
                  "SupplierName",
                  "SupplierName desc",
                  "CEmpNo",
                  "CEmpNo desc",
                  "EmpName",
                  "EmpName desc",
                  "PersonId",
                  "PersonId desc"
                ]
              }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Specify properties to return, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_System_Query_Option_3)",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "luname",
                  "keyref",
                  "Company",
                  "Identity",
                  "SupplierName",
                  "CEmpNo",
                  "EmpName",
                  "PersonId"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/EmployeeInfoQueryarrayResponse"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "405": {
            "$ref": "#/components/responses/405"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "501": {
            "$ref": "#/components/responses/501"
          },
          "503": {
            "$ref": "#/components/responses/503"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        }
      }
    },
    "/Reference_EmployeeInfoQuery(Company='{Company}',Identity='{Identity}')": {
      "get": {
        "tags": [
          "Reference_EmployeeInfoQuery"
        ],
        "summary": "Get entity from Reference_EmployeeInfoQuery by key",
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "Specify properties to return, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_System_Query_Option_3)",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "luname",
                  "keyref",
                  "Company",
                  "Identity",
                  "SupplierName",
                  "CEmpNo",
                  "EmpName",
                  "PersonId"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/EmployeeInfoQueryResponse"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "405": {
            "$ref": "#/components/responses/405"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "501": {
            "$ref": "#/components/responses/501"
          },
          "503": {
            "$ref": "#/components/responses/503"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        }
      },
      "parameters": [
        {
          "name": "Company",
          "in": "path",
          "description": "",
          "required": true,
          "schema": {
            "maxLength": 4000,
            "type": "string",
            "example": "It is a Text"
          }
        },
        {
          "name": "Identity",
          "in": "path",
          "description": "",
          "required": true,
          "schema": {
            "maxLength": 4000,
            "type": "string",
            "example": "It is a Text"
          }
        }
      ]
    },
    "/Reference_CurrencyCodesQuery": {
      "get": {
        "tags": [
          "Reference_CurrencyCodesQuery"
        ],
        "summary": "Get entities from Reference_CurrencyCodesQuery",
        "parameters": [
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filter items by property values, see [OData Filtering](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_The_$filter_System)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Order items by property values, see [OData Sorting](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_The_$select_System_1)",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "Company",
                  "Company desc",
                  "CurrencyCode",
                  "CurrencyCode desc",
                  "Description",
                  "Description desc"
                ]
              }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Specify properties to return, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_System_Query_Option_3)",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "luname",
                  "keyref",
                  "Company",
                  "CurrencyCode",
                  "Description"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/CurrencyCodesQueryarrayResponse"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "405": {
            "$ref": "#/components/responses/405"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "501": {
            "$ref": "#/components/responses/501"
          },
          "503": {
            "$ref": "#/components/responses/503"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        }
      }
    },
    "/Reference_CurrencyCodesQuery(Company='{Company}',CurrencyCode='{CurrencyCode}')": {
      "get": {
        "tags": [
          "Reference_CurrencyCodesQuery"
        ],
        "summary": "Get entity from Reference_CurrencyCodesQuery by key",
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "Specify properties to return, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_System_Query_Option_3)",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "luname",
                  "keyref",
                  "Company",
                  "CurrencyCode",
                  "Description"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/CurrencyCodesQueryResponse"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "405": {
            "$ref": "#/components/responses/405"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "501": {
            "$ref": "#/components/responses/501"
          },
          "503": {
            "$ref": "#/components/responses/503"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        }
      },
      "parameters": [
        {
          "name": "Company",
          "in": "path",
          "description": "",
          "required": true,
          "schema": {
            "maxLength": 4000,
            "type": "string",
            "example": "It is a Text"
          }
        },
        {
          "name": "CurrencyCode",
          "in": "path",
          "description": "",
          "required": true,
          "schema": {
            "maxLength": 4000,
            "type": "string",
            "example": "It is a Text"
          }
        }
      ]
    },
    "/Reference_ProjectInfoQuery": {
      "get": {
        "tags": [
          "Reference_ProjectInfoQuery"
        ],
        "summary": "Get entities from Reference_ProjectInfoQuery",
        "parameters": [
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filter items by property values, see [OData Filtering](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_The_$filter_System)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Order items by property values, see [OData Sorting](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_The_$select_System_1)",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "ProjectId",
                  "ProjectId desc",
                  "Company",
                  "Company desc",
                  "Name",
                  "Name desc",
                  "Description",
                  "Description desc",
                  "Manager",
                  "Manager desc"
                ]
              }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Specify properties to return, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_System_Query_Option_3)",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "luname",
                  "keyref",
                  "ProjectId",
                  "Company",
                  "Name",
                  "Description",
                  "Manager"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ProjectInfoQueryarrayResponse"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "405": {
            "$ref": "#/components/responses/405"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "501": {
            "$ref": "#/components/responses/501"
          },
          "503": {
            "$ref": "#/components/responses/503"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        }
      }
    },
    "/Reference_ProjectInfoQuery(ProjectId='{ProjectId}')": {
      "get": {
        "tags": [
          "Reference_ProjectInfoQuery"
        ],
        "summary": "Get entity from Reference_ProjectInfoQuery by key",
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "Specify properties to return, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_System_Query_Option_3)",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "luname",
                  "keyref",
                  "ProjectId",
                  "Company",
                  "Name",
                  "Description",
                  "Manager"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ProjectInfoQueryResponse"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "405": {
            "$ref": "#/components/responses/405"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "501": {
            "$ref": "#/components/responses/501"
          },
          "503": {
            "$ref": "#/components/responses/503"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        }
      },
      "parameters": [
        {
          "name": "ProjectId",
          "in": "path",
          "description": "",
          "required": true,
          "schema": {
            "maxLength": 4000,
            "type": "string",
            "example": "It is a Text"
          }
        }
      ]
    },
    "/Reference_Company": {
      "get": {
        "tags": [
          "Reference_Company"
        ],
        "summary": "Get entities from Reference_Company",
        "parameters": [
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filter items by property values, see [OData Filtering](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_The_$filter_System)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Order items by property values, see [OData Sorting](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_The_$select_System_1)",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "Company",
                  "Company desc",
                  "Name",
                  "Name desc",
                  "PartyType",
                  "PartyType desc"
                ]
              }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Specify properties to return, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_System_Query_Option_3)",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "luname",
                  "keyref",
                  "Company",
                  "Name",
                  "PartyType"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/CompanyarrayResponse"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "405": {
            "$ref": "#/components/responses/405"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "501": {
            "$ref": "#/components/responses/501"
          },
          "503": {
            "$ref": "#/components/responses/503"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        }
      }
    },
    "/Reference_Company(Company='{Company}')": {
      "get": {
        "tags": [
          "Reference_Company"
        ],
        "summary": "Get entity from Reference_Company by key",
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "Specify properties to return, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_System_Query_Option_3)",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "luname",
                  "keyref",
                  "Company",
                  "Name",
                  "PartyType"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/CompanyResponse"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "405": {
            "$ref": "#/components/responses/405"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "501": {
            "$ref": "#/components/responses/501"
          },
          "503": {
            "$ref": "#/components/responses/503"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        }
      },
      "parameters": [
        {
          "name": "Company",
          "in": "path",
          "description": "",
          "required": true,
          "schema": {
            "maxLength": 20,
            "type": "string",
            "example": "It is a Text"
          }
        }
      ]
    },
    "/Reference_PaymentAddress": {
      "get": {
        "tags": [
          "Reference_PaymentAddress"
        ],
        "summary": "Get entities from Reference_PaymentAddress",
        "parameters": [
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filter items by property values, see [OData Filtering](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_The_$filter_System)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Order items by property values, see [OData Sorting](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_The_$select_System_1)",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "Company",
                  "Company desc",
                  "Identity",
                  "Identity desc",
                  "PartyType",
                  "PartyType desc",
                  "WayId",
                  "WayId desc",
                  "AddressId",
                  "AddressId desc",
                  "Account",
                  "Account desc",
                  "AccountTypeDb",
                  "AccountTypeDb desc",
                  "Bank",
                  "Bank desc",
                  "AccountType",
                  "AccountType desc"
                ]
              }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Specify properties to return, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_System_Query_Option_3)",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "luname",
                  "keyref",
                  "Company",
                  "Identity",
                  "PartyType",
                  "WayId",
                  "AddressId",
                  "Account",
                  "AccountTypeDb",
                  "Bank",
                  "AccountType"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PaymentAddressarrayResponse"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "405": {
            "$ref": "#/components/responses/405"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "501": {
            "$ref": "#/components/responses/501"
          },
          "503": {
            "$ref": "#/components/responses/503"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        }
      }
    },
    "/Reference_PaymentAddress(Company='{Company}',Identity='{Identity}',PartyType=IfsApp.CEmpPortalServices.PartyType'{PartyType}',WayId='{WayId}',AddressId='{AddressId}')": {
      "get": {
        "tags": [
          "Reference_PaymentAddress"
        ],
        "summary": "Get entity from Reference_PaymentAddress by key",
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "Specify properties to return, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_System_Query_Option_3)",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "luname",
                  "keyref",
                  "Company",
                  "Identity",
                  "PartyType",
                  "WayId",
                  "AddressId",
                  "Account",
                  "AccountTypeDb",
                  "Bank",
                  "AccountType"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PaymentAddressResponse"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "405": {
            "$ref": "#/components/responses/405"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "501": {
            "$ref": "#/components/responses/501"
          },
          "503": {
            "$ref": "#/components/responses/503"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        }
      },
      "parameters": [
        {
          "name": "Company",
          "in": "path",
          "description": "",
          "required": true,
          "schema": {
            "maxLength": 20,
            "type": "string",
            "example": "It is a Text"
          }
        },
        {
          "name": "Identity",
          "in": "path",
          "description": "",
          "required": true,
          "schema": {
            "maxLength": 20,
            "type": "string",
            "example": "It is a Text"
          }
        },
        {
          "name": "PartyType",
          "in": "path",
          "description": "",
          "required": true,
          "schema": {
            "$ref": "#/components/schemas/IfsApp.CEmpPortalServices.PartyType"
          }
        },
        {
          "name": "WayId",
          "in": "path",
          "description": "",
          "required": true,
          "schema": {
            "maxLength": 20,
            "type": "string",
            "example": "It is a Text"
          }
        },
        {
          "name": "AddressId",
          "in": "path",
          "description": "",
          "required": true,
          "schema": {
            "maxLength": 50,
            "type": "string",
            "example": "It is a Text"
          }
        }
      ]
    },
    "/Reference_Activity": {
      "get": {
        "tags": [
          "Reference_Activity"
        ],
        "summary": "Get entities from Reference_Activity",
        "description": "This endpoint is timezone aware and uses the header X-Ifs-Time-Zone-Aware-Request to manage the timezone awareness.",
        "parameters": [
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filter items by property values, see [OData Filtering](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_The_$filter_System)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Order items by property values, see [OData Sorting](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_The_$select_System_1)",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "Objstate",
                  "Objstate desc",
                  "ActivitySeq",
                  "ActivitySeq desc",
                  "ProjectId",
                  "ProjectId desc",
                  "SubProjectId",
                  "SubProjectId desc",
                  "ActivityNo",
                  "ActivityNo desc",
                  "ActivityResponsible",
                  "ActivityResponsible desc",
                  "Description",
                  "Description desc",
                  "ShortName",
                  "ShortName desc",
                  "ProjectName",
                  "ProjectName desc",
                  "SubProjectDesc",
                  "SubProjectDesc desc",
                  "ActivityResponsibleName",
                  "ActivityResponsibleName desc"
                ]
              }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Specify properties to return, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_System_Query_Option_3)",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "luname",
                  "keyref",
                  "Objstate",
                  "ActivitySeq",
                  "ProjectId",
                  "SubProjectId",
                  "ActivityNo",
                  "ActivityResponsible",
                  "Description",
                  "ShortName",
                  "ProjectName",
                  "SubProjectDesc",
                  "ActivityResponsibleName"
                ]
              }
            }
          },
          {
            "name": "X-IFS-Time-Zone-Aware-Request",
            "in": "header",
            "description": "If this header is set to true, ensure that all timestamp values you send are in UTC format. The timestamps you receive will also be in UTC format.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ActivityarrayResponse"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "405": {
            "$ref": "#/components/responses/405"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "501": {
            "$ref": "#/components/responses/501"
          },
          "503": {
            "$ref": "#/components/responses/503"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        }
      }
    },
    "/Reference_Activity(ActivitySeq={ActivitySeq})": {
      "get": {
        "tags": [
          "Reference_Activity"
        ],
        "summary": "Get entity from Reference_Activity by key",
        "description": "This endpoint is timezone aware and uses the header X-Ifs-Time-Zone-Aware-Request to manage the timezone awareness.",
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "Specify properties to return, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_System_Query_Option_3)",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "luname",
                  "keyref",
                  "Objstate",
                  "ActivitySeq",
                  "ProjectId",
                  "SubProjectId",
                  "ActivityNo",
                  "ActivityResponsible",
                  "Description",
                  "ShortName",
                  "ProjectName",
                  "SubProjectDesc",
                  "ActivityResponsibleName"
                ]
              }
            }
          },
          {
            "name": "X-IFS-Time-Zone-Aware-Request",
            "in": "header",
            "description": "If this header is set to true, ensure that all timestamp values you send are in UTC format. The timestamps you receive will also be in UTC format.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ActivityResponse"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "405": {
            "$ref": "#/components/responses/405"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "501": {
            "$ref": "#/components/responses/501"
          },
          "503": {
            "$ref": "#/components/responses/503"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        }
      },
      "parameters": [
        {
          "name": "ActivitySeq",
          "in": "path",
          "description": "",
          "required": true,
          "schema": {
            "type": "number",
            "example": 1
          }
        }
      ]
    },
    "/Reference_ProjectTransaction": {
      "get": {
        "tags": [
          "Reference_ProjectTransaction"
        ],
        "summary": "Get entities from Reference_ProjectTransaction",
        "parameters": [
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filter items by property values, see [OData Filtering](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_The_$filter_System)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Order items by property values, see [OData Sorting](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_The_$select_System_1)",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "ProjectTransactionSeq",
                  "ProjectTransactionSeq desc",
                  "InternalComments",
                  "InternalComments desc",
                  "CStatus",
                  "CStatus desc",
                  "CRejectNote",
                  "CRejectNote desc",
                  "CApprover",
                  "CApprover desc",
                  "CAutoApprover",
                  "CAutoApprover desc",
                  "CApproverName",
                  "CApproverName desc",
                  "CAutoApproverName",
                  "CAutoApproverName desc",
                  "CStatusDb",
                  "CStatusDb desc"
                ]
              }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Specify properties to return, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_System_Query_Option_3)",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "luname",
                  "keyref",
                  "ProjectTransactionSeq",
                  "InternalComments",
                  "CStatus",
                  "CRejectNote",
                  "CApprover",
                  "CAutoApprover",
                  "CApproverName",
                  "CAutoApproverName",
                  "CStatusDb"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ProjectTransactionarrayResponse"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "405": {
            "$ref": "#/components/responses/405"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "501": {
            "$ref": "#/components/responses/501"
          },
          "503": {
            "$ref": "#/components/responses/503"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        }
      }
    },
    "/Reference_ProjectTransaction(ProjectTransactionSeq={ProjectTransactionSeq})": {
      "get": {
        "tags": [
          "Reference_ProjectTransaction"
        ],
        "summary": "Get entity from Reference_ProjectTransaction by key",
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "Specify properties to return, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_System_Query_Option_3)",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "luname",
                  "keyref",
                  "ProjectTransactionSeq",
                  "InternalComments",
                  "CStatus",
                  "CRejectNote",
                  "CApprover",
                  "CAutoApprover",
                  "CApproverName",
                  "CAutoApproverName",
                  "CStatusDb"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ProjectTransactionResponse"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "405": {
            "$ref": "#/components/responses/405"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "501": {
            "$ref": "#/components/responses/501"
          },
          "503": {
            "$ref": "#/components/responses/503"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        }
      },
      "parameters": [
        {
          "name": "ProjectTransactionSeq",
          "in": "path",
          "description": "",
          "required": true,
          "schema": {
            "type": "number",
            "example": 1
          }
        }
      ]
    },
    "/Reference_ReportCost": {
      "get": {
        "tags": [
          "Reference_ReportCost"
        ],
        "summary": "Get entities from Reference_ReportCost",
        "parameters": [
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filter items by property values, see [OData Filtering](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_The_$filter_System)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Order items by property values, see [OData Sorting](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_The_$select_System_1)",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "Company",
                  "Company desc",
                  "ReportCostCode",
                  "ReportCostCode desc",
                  "Description",
                  "Description desc",
                  "ReportCostType",
                  "ReportCostType desc",
                  "ReportCostGroupId",
                  "ReportCostGroupId desc",
                  "ReportCodeGroupDesc",
                  "ReportCodeGroupDesc desc",
                  "ReportCodeTxt",
                  "ReportCodeTxt desc",
                  "CReportCostGrpType",
                  "CReportCostGrpType desc"
                ]
              }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Specify properties to return, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_System_Query_Option_3)",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "luname",
                  "keyref",
                  "Company",
                  "ReportCostCode",
                  "Description",
                  "ReportCostType",
                  "ReportCostGroupId",
                  "ReportCodeGroupDesc",
                  "ReportCodeTxt",
                  "CReportCostGrpType"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ReportCostarrayResponse"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "405": {
            "$ref": "#/components/responses/405"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "501": {
            "$ref": "#/components/responses/501"
          },
          "503": {
            "$ref": "#/components/responses/503"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        }
      }
    },
    "/Reference_ReportCost(Company='{Company}',ReportCostCode='{ReportCostCode}')": {
      "get": {
        "tags": [
          "Reference_ReportCost"
        ],
        "summary": "Get entity from Reference_ReportCost by key",
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "Specify properties to return, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_System_Query_Option_3)",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "luname",
                  "keyref",
                  "Company",
                  "ReportCostCode",
                  "Description",
                  "ReportCostType",
                  "ReportCostGroupId",
                  "ReportCodeGroupDesc",
                  "ReportCodeTxt",
                  "CReportCostGrpType"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ReportCostResponse"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "405": {
            "$ref": "#/components/responses/405"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "501": {
            "$ref": "#/components/responses/501"
          },
          "503": {
            "$ref": "#/components/responses/503"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        }
      },
      "parameters": [
        {
          "name": "Company",
          "in": "path",
          "description": "",
          "required": true,
          "schema": {
            "maxLength": 20,
            "type": "string",
            "example": "It is a Text"
          }
        },
        {
          "name": "ReportCostCode",
          "in": "path",
          "description": "",
          "required": true,
          "schema": {
            "maxLength": 10,
            "type": "string",
            "example": "It is a Text"
          }
        }
      ]
    },
    "/Lookup_IsoCountry_EntitySet": {
      "get": {
        "tags": [
          "Lookup_IsoCountry_EntitySet"
        ],
        "summary": "Get entities from Lookup_IsoCountry_EntitySet",
        "parameters": [
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filter items by property values, see [OData Filtering](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_The_$filter_System)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Order items by property values, see [OData Sorting](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_The_$select_System_1)",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "Id",
                  "Id desc",
                  "Description",
                  "Description desc"
                ]
              }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Specify properties to return, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_System_Query_Option_3)",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "luname",
                  "keyref",
                  "Id",
                  "Description"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Lookup_IsoCountry_EntityTypearrayResponse"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "405": {
            "$ref": "#/components/responses/405"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "501": {
            "$ref": "#/components/responses/501"
          },
          "503": {
            "$ref": "#/components/responses/503"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        }
      }
    },
    "/Lookup_IsoCountry_EntitySet(Id='{Id}')": {
      "get": {
        "tags": [
          "Lookup_IsoCountry_EntitySet"
        ],
        "summary": "Get entity from Lookup_IsoCountry_EntitySet by key",
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "Specify properties to return, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_System_Query_Option_3)",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "luname",
                  "keyref",
                  "Id",
                  "Description"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Lookup_IsoCountry_EntityTypeResponse"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "405": {
            "$ref": "#/components/responses/405"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "501": {
            "$ref": "#/components/responses/501"
          },
          "503": {
            "$ref": "#/components/responses/503"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        }
      },
      "parameters": [
        {
          "name": "Id",
          "in": "path",
          "description": "",
          "required": true,
          "schema": {
            "maxLength": 4000,
            "type": "string",
            "example": "It is a Text"
          }
        }
      ]
    },
    "/Lookup_IsoCurrency_EntitySet": {
      "get": {
        "tags": [
          "Lookup_IsoCurrency_EntitySet"
        ],
        "summary": "Get entities from Lookup_IsoCurrency_EntitySet",
        "parameters": [
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filter items by property values, see [OData Filtering](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_The_$filter_System)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Order items by property values, see [OData Sorting](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_The_$select_System_1)",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "Id",
                  "Id desc",
                  "Description",
                  "Description desc"
                ]
              }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Specify properties to return, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_System_Query_Option_3)",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "luname",
                  "keyref",
                  "Id",
                  "Description"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Lookup_IsoCurrency_EntityTypearrayResponse"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "405": {
            "$ref": "#/components/responses/405"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "501": {
            "$ref": "#/components/responses/501"
          },
          "503": {
            "$ref": "#/components/responses/503"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        }
      }
    },
    "/Lookup_IsoCurrency_EntitySet(Id='{Id}')": {
      "get": {
        "tags": [
          "Lookup_IsoCurrency_EntitySet"
        ],
        "summary": "Get entity from Lookup_IsoCurrency_EntitySet by key",
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "Specify properties to return, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_System_Query_Option_3)",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "luname",
                  "keyref",
                  "Id",
                  "Description"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Lookup_IsoCurrency_EntityTypeResponse"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "405": {
            "$ref": "#/components/responses/405"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "501": {
            "$ref": "#/components/responses/501"
          },
          "503": {
            "$ref": "#/components/responses/503"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        }
      },
      "parameters": [
        {
          "name": "Id",
          "in": "path",
          "description": "",
          "required": true,
          "schema": {
            "maxLength": 4000,
            "type": "string",
            "example": "It is a Text"
          }
        }
      ]
    },
    "/CEmpPortalUserSet": {
      "get": {
        "tags": [
          "CEmpPortalUserSet"
        ],
        "summary": "Get entities from CEmpPortalUserSet",
        "parameters": [
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filter items by property values, see [OData Filtering](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_The_$filter_System)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Order items by property values, see [OData Sorting](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_The_$select_System_1)",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "EmailId",
                  "EmailId desc",
                  "CompanyId",
                  "CompanyId desc",
                  "EmpId",
                  "EmpId desc"
                ]
              }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Specify properties to return, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_System_Query_Option_3)",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "luname",
                  "keyref",
                  "EmailId",
                  "CompanyId",
                  "EmpId"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/CEmpPortalUserarrayResponse"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "405": {
            "$ref": "#/components/responses/405"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "501": {
            "$ref": "#/components/responses/501"
          },
          "503": {
            "$ref": "#/components/responses/503"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        }
      }
    },
    "/CEmpPortalUserSet(EmailId='{EmailId}')": {
      "get": {
        "tags": [
          "CEmpPortalUserSet"
        ],
        "summary": "Get entity from CEmpPortalUserSet by key",
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "Specify properties to return, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_System_Query_Option_3)",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "luname",
                  "keyref",
                  "EmailId",
                  "CompanyId",
                  "EmpId"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/CEmpPortalUserResponse"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "405": {
            "$ref": "#/components/responses/405"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "501": {
            "$ref": "#/components/responses/501"
          },
          "503": {
            "$ref": "#/components/responses/503"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        }
      },
      "parameters": [
        {
          "name": "EmailId",
          "in": "path",
          "description": "",
          "required": true,
          "schema": {
            "maxLength": 50,
            "type": "string",
            "example": "It is a Text"
          }
        }
      ]
    },
    "/CEmpPortalUserSet(EmailId='{EmailId}')/IfsApp.CEmpPortalServices.CEmpPortalUser_EmpPortalTimeRegList": {
      "post": {
        "tags": [
          "CEmpPortalUserSet"
        ],
        "summary": "Invoke action EmpPortalTimeRegList",
        "description": "",
        "parameters": [
          {
            "name": "If-Match",
            "in": "header",
            "description": "E-Tag",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/EmpPortalTimeRegListActionRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/EmpPortalTimeRegListActionResponse"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "405": {
            "$ref": "#/components/responses/405"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "501": {
            "$ref": "#/components/responses/501"
          },
          "503": {
            "$ref": "#/components/responses/503"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        }
      },
      "parameters": [
        {
          "name": "EmailId",
          "in": "path",
          "description": "",
          "required": true,
          "schema": {
            "maxLength": 50,
            "type": "string",
            "example": "It is a Text"
          }
        }
      ]
    },
    "/CEmpPortalUserSet(EmailId='{EmailId}')/IfsApp.CEmpPortalServices.CEmpPortalUser_EmpPortalTimeRegWithRangeList": {
      "post": {
        "tags": [
          "CEmpPortalUserSet"
        ],
        "summary": "Invoke action EmpPortalTimeRegWithRangeList",
        "description": "",
        "parameters": [
          {
            "name": "If-Match",
            "in": "header",
            "description": "E-Tag",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/EmpPortalTimeRegWithRangeListActionRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/EmpPortalTimeRegWithRangeListActionResponse"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "405": {
            "$ref": "#/components/responses/405"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "501": {
            "$ref": "#/components/responses/501"
          },
          "503": {
            "$ref": "#/components/responses/503"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        }
      },
      "parameters": [
        {
          "name": "EmailId",
          "in": "path",
          "description": "",
          "required": true,
          "schema": {
            "maxLength": 50,
            "type": "string",
            "example": "It is a Text"
          }
        }
      ]
    },
    "/CEmpPortalUserSet(EmailId='{EmailId}')/IfsApp.CEmpPortalServices.CEmpPortalUser_EmpPortalTimeUpdateList": {
      "post": {
        "tags": [
          "CEmpPortalUserSet"
        ],
        "summary": "Invoke action EmpPortalTimeUpdateList",
        "description": "",
        "parameters": [
          {
            "name": "If-Match",
            "in": "header",
            "description": "E-Tag",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/EmpPortalTimeUpdateListActionRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/EmpPortalTimeUpdateListActionResponse"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "405": {
            "$ref": "#/components/responses/405"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "501": {
            "$ref": "#/components/responses/501"
          },
          "503": {
            "$ref": "#/components/responses/503"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        }
      },
      "parameters": [
        {
          "name": "EmailId",
          "in": "path",
          "description": "",
          "required": true,
          "schema": {
            "maxLength": 50,
            "type": "string",
            "example": "It is a Text"
          }
        }
      ]
    },
    "/CEmpPortalUserSet(EmailId='{EmailId}')/IfsApp.CEmpPortalServices.CEmpPortalUser_EmpPortalTimeDeleteList": {
      "post": {
        "tags": [
          "CEmpPortalUserSet"
        ],
        "summary": "Invoke action EmpPortalTimeDeleteList",
        "description": "",
        "parameters": [
          {
            "name": "If-Match",
            "in": "header",
            "description": "E-Tag",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/EmpPortalTimeDeleteListActionRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/EmpPortalTimeDeleteListActionResponse"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "405": {
            "$ref": "#/components/responses/405"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "501": {
            "$ref": "#/components/responses/501"
          },
          "503": {
            "$ref": "#/components/responses/503"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        }
      },
      "parameters": [
        {
          "name": "EmailId",
          "in": "path",
          "description": "",
          "required": true,
          "schema": {
            "maxLength": 50,
            "type": "string",
            "example": "It is a Text"
          }
        }
      ]
    },
    "/CEmpPortalUserSet(EmailId='{EmailId}')/IfsApp.CEmpPortalServices.CEmpPortalUser_EmpPortalTimeApprovalList": {
      "post": {
        "tags": [
          "CEmpPortalUserSet"
        ],
        "summary": "Invoke action EmpPortalTimeApprovalList",
        "description": "",
        "parameters": [
          {
            "name": "If-Match",
            "in": "header",
            "description": "E-Tag",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/EmpPortalTimeApprovalListActionRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/EmpPortalTimeApprovalListActionResponse"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "405": {
            "$ref": "#/components/responses/405"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "501": {
            "$ref": "#/components/responses/501"
          },
          "503": {
            "$ref": "#/components/responses/503"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        }
      },
      "parameters": [
        {
          "name": "EmailId",
          "in": "path",
          "description": "",
          "required": true,
          "schema": {
            "maxLength": 50,
            "type": "string",
            "example": "It is a Text"
          }
        }
      ]
    },
    "/CEmpPortalUserSet(EmailId='{EmailId}')/IfsApp.CEmpPortalServices.CEmpPortalUser_GetHoursSummary()": {
      "get": {
        "tags": [
          "CEmpPortalUserSet"
        ],
        "summary": "Invoke function GetHoursSummary",
        "description": "",
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetHoursSummaryFunctionResponse"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "405": {
            "$ref": "#/components/responses/405"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "501": {
            "$ref": "#/components/responses/501"
          },
          "503": {
            "$ref": "#/components/responses/503"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        }
      },
      "parameters": [
        {
          "name": "If-Match",
          "in": "header",
          "description": "E-Tag",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "EmailId",
          "in": "path",
          "description": "",
          "required": true,
          "schema": {
            "maxLength": 50,
            "type": "string",
            "example": "It is a Text"
          }
        }
      ]
    },
    "/CEmpPortalUserSet(EmailId='{EmailId}')/IfsApp.CEmpPortalServices.CEmpPortalUser_GetUserInfo()": {
      "get": {
        "tags": [
          "CEmpPortalUserSet"
        ],
        "summary": "Invoke function GetUserInfo",
        "description": "",
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetUserInfoFunctionResponse"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "405": {
            "$ref": "#/components/responses/405"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "501": {
            "$ref": "#/components/responses/501"
          },
          "503": {
            "$ref": "#/components/responses/503"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        }
      },
      "parameters": [
        {
          "name": "If-Match",
          "in": "header",
          "description": "E-Tag",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "EmailId",
          "in": "path",
          "description": "",
          "required": true,
          "schema": {
            "maxLength": 50,
            "type": "string",
            "example": "It is a Text"
          }
        }
      ]
    },
    "/CEmpPortalUserSet(EmailId='{EmailId}')/IfsApp.CEmpPortalServices.CEmpPortalUser_GetValidEmpPrjAct(AccountDate={AccountDate})": {
      "get": {
        "tags": [
          "CEmpPortalUserSet"
        ],
        "summary": "Invoke function GetValidEmpPrjAct",
        "description": "",
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetValidEmpPrjActFunctionResponse"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "405": {
            "$ref": "#/components/responses/405"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "501": {
            "$ref": "#/components/responses/501"
          },
          "503": {
            "$ref": "#/components/responses/503"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        }
      },
      "parameters": [
        {
          "name": "AccountDate",
          "in": "path",
          "description": "",
          "required": true,
          "schema": {
            "type": "string",
            "format": "date",
            "example": "2019-10-10"
          }
        },
        {
          "name": "If-Match",
          "in": "header",
          "description": "E-Tag",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "EmailId",
          "in": "path",
          "description": "",
          "required": true,
          "schema": {
            "maxLength": 50,
            "type": "string",
            "example": "It is a Text"
          }
        }
      ]
    },
    "/CEmpPortalUserSet(EmailId='{EmailId}')/IfsApp.CEmpPortalServices.CEmpPortalUser_GetEmployeeTimesheet()": {
      "get": {
        "tags": [
          "CEmpPortalUserSet"
        ],
        "summary": "Invoke function GetEmployeeTimesheet",
        "description": "",
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetEmployeeTimesheetFunctionResponse"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "405": {
            "$ref": "#/components/responses/405"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "501": {
            "$ref": "#/components/responses/501"
          },
          "503": {
            "$ref": "#/components/responses/503"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        }
      },
      "parameters": [
        {
          "name": "If-Match",
          "in": "header",
          "description": "E-Tag",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "EmailId",
          "in": "path",
          "description": "",
          "required": true,
          "schema": {
            "maxLength": 50,
            "type": "string",
            "example": "It is a Text"
          }
        }
      ]
    },
    "/CEmpPortalUserSet(EmailId='{EmailId}')/IfsApp.CEmpPortalServices.CEmpPortalUser_GetApprovalTimesheets()": {
      "get": {
        "tags": [
          "CEmpPortalUserSet"
        ],
        "summary": "Invoke function GetApprovalTimesheets",
        "description": "",
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetApprovalTimesheetsFunctionResponse"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "405": {
            "$ref": "#/components/responses/405"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "501": {
            "$ref": "#/components/responses/501"
          },
          "503": {
            "$ref": "#/components/responses/503"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        }
      },
      "parameters": [
        {
          "name": "If-Match",
          "in": "header",
          "description": "E-Tag",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "EmailId",
          "in": "path",
          "description": "",
          "required": true,
          "schema": {
            "maxLength": 50,
            "type": "string",
            "example": "It is a Text"
          }
        }
      ]
    },
    "/CEmpPortalUserSet(EmailId='{EmailId}')/IfsApp.CEmpPortalServices.CEmpPortalUser_GetValidActReportCode(CompanyId='{CompanyId}',ProjectId='{ProjectId}',SubProjectId='{SubProjectId}',AccountDate={AccountDate},ActivitySeq={ActivitySeq})": {
      "get": {
        "tags": [
          "CEmpPortalUserSet"
        ],
        "summary": "Invoke function GetValidActReportCode",
        "description": "",
        "parameters": [
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filter items by property values, see [OData Filtering](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_The_$filter_System)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Order items by property values, see [OData Sorting](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_The_$select_System_1)",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "CompanyId",
                  "CompanyId desc",
                  "ReportCostCode",
                  "ReportCostCode desc",
                  "ReportCostName",
                  "ReportCostName desc",
                  "ValidFrom",
                  "ValidFrom desc",
                  "ValidTo",
                  "ValidTo desc",
                  "ReportCostType",
                  "ReportCostType desc",
                  "ReportCodeGroupId",
                  "ReportCodeGroupId desc",
                  "ReportCodeGroupDesc",
                  "ReportCodeGroupDesc desc",
                  "ReportCode",
                  "ReportCode desc"
                ]
              }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Specify properties to return, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_System_Query_Option_3)",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "luname",
                  "keyref",
                  "CompanyId",
                  "ReportCostCode",
                  "ReportCostName",
[...]
